<div class="row about">
    <p>
        DART is the Digital Archivist's Routing Tool for packaging
        and sending data. It produces BagIt files and uploads them to any
        S3-compliant API.
    </p>
    <p>
        <b>Version</b>: {{ version }}
    </p>
    <p>
        <b>App Location</b>: {{ appPath }}
    </p>
    <p>
        <b>Data Location</b>: {{ userDataPath }}
    </p>

    <p style="margin-top: 15px;">
        This is open source software produced and maintained by
        the <a href="#About/openExternal?url=http://www.aptrust.org">Academic
        Preservation Trust</a> on
        <a href="#About/openExternal?url=https://github.com/APTrust/dart)">GitHub</a>.
        DART's plugin architecture allows developers to add packaging
        formats (tar, rar, zip, etc.) and network protocols (ftp, sftp, etc.).
    </p>
</div>
