<div class="row about">
  <p>
    DART is the Digital Archivist's Routing Tool for packaging
    and sending data. It produces BagIt files and uploads them to any
    S3-compliant API.
  </p>
</div>

<div class="row about">
  <p><b>Version</b>: {{ version }}</p>
</div>

<div class="row about">
  <p><b>App Location</b>: {{ appPath }}</p>
</div>

<div class="row about">
  <p><b>Data Location</b>: {{ userDataPath }}</p>
</div>

<div class="row about">
  <p><b>Log File</b>: {{ logFilePath }}</p>
</div>

<hr/>

<div class="row about">
  <p>
    DART is open source software produced and maintained by the
    <a href="#About/openExternal?url=http://www.aptrust.org">Academic Preservation Trust</a>
    on <a href="#About/openExternal?url=https://github.com/APTrust/dart">GitHub</a>.
  </p>
</div>
