<form method="post" action="#" id="{{ form.id }}">

  {{> inputText field = form.fields.tagFileName }}

  <!-- Id is a throwaway value here. We don't use it. -->
  {{> inputHidden field = form.fields.id }}

  <div class="bottom-buttons">
    <div class="pull-right">
      <a class="btn btn-primary" href="#BagItProfile/newTagFileCreate?id={{ bagItProfileId }}" role="button">Save</a>
    </div>
    <div class="pull-right mr-5">
      <a class="btn btn-secondary" onclick="$('#modal').modal('hide')" role="button">Cancel</a>
    </div>
  </div>

</form>
