{{ define "remote_repository/list.html" }}

{{ template "partials/page_header.html" .}}

<h2>Remote Repositories</h2>
<div class="float-right mt-1 mb-3">
  <a class="btn btn-primary" href="/remote_repositories/new" role="button">New</a>
</div>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>URL</th>
    </tr>
  </thead>
  <tbody>
    {{ range $index, $item := .items }}
    <tr class="clickable-row" onclick="location.href='/remote_repositories/edit/{{ $item.ID }}'">
      <td>{{ $item.Name }}</td>
      <td>{{ $item.Url }}</td>
    </tr>
    {{ end }}
  </tbody>
</table>

{{ template "partials/table_bottom_links.html" . }}

{{ template "partials/pager.html" . }}

{{ template "partials/page_footer.html" .}}

{{ end }}