{{ define "partials/input_select.html" }}

<div class="form-group {{ .field.FormGroupClass }}">
    <label class="control-label" for="{{ .field.ID }}"
           {{ if .field.Help }}data-toggle="popover" data-trigger="hover" title="{{ .field.Label }}" data-content="{{ .field.Help }}"{{ end }}>
           {{ .field.Label }} {{ if .field.Required}}<i class="fas fa-asterisk fa-xs text-danger"></i>{{ end }} 
           {{ if .field.Help }}<i class="fas fa-question-circle text-primary"></i>{{ end }}</label>
    <select id="{{ .field.ID }}" name="{{ .field.Name }}"
           class="form-control {{ template "partials/classes.html" . }}"
           {{ template "partials/attrs.html" .field }} >
      {{ range $option := .field.Choices }}
        <option value="{{ $option.Value }}" {{ if $option.Selected }}selected{{ end }}>{{ $option.Label }}</option>
      {{ end }}
    </select>
    <small id="{{ .field.ID }}Error" class="form-text text-danger">
      {{ .field.Error }}
    </small>
</div>

{{ end }}