{{ define "partials/input_password.html" }}

<div class="form-group {{ .field.FormGroupClass }}">
    <label class="control-label" for="{{ .field.ID }}"
           {{ if .field.Help }}data-toggle="popover" data-trigger="hover" title="{{ .field.Label }}" data-content="{{.field.Help}}"{{ end }}>{{ .field.Label }} 
           {{ if .field.Attrs.required }}<i class="fas fa-asterisk fa-xs text-danger"></i>{{ end }} 
           {{ if .field.Help }}<i class="fas fa-question-circle text-primary"></i>{{ end }}</label>
    <input type="password" id="{{ .field.ID }}" name="{{ .field.Name }}" value="{{ .field.Value }}"
           class="form-control {{ template "partials/classes.html" . }}"
           {{ template "partials/attrs.html" .field }} />
    <small id="{{ .field.ID }}Error" class="form-text text-danger">
      {{ .field.Error }}
    </small>
</div>

{{ end }}
