*~
/bin
dist/
docs/
node_modules

# Compiled binaries
tsconfig.json
apps/bin/*
aptrust.org/*.tar
.env
.DS_Store

# Wails stuff
build
build/bin
node_modules
frontend/dist
frontend/package.json.md5

# Test coverage output
c.out

# VS Code debug binaries
*__debug_bin*

# Env file containing code signing secrets
codesign.env
*/codesign.env
DART-signed.dmg
