<div class="form-group" id="importSourceContainer">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="importSource" id="importSourceUrl" value="URL">
        <label class="form-check-label" for="importSourceUrl">
            {{ translate 'Import from URL' }}
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="importSource" id="importSourceTextArea" value="TextArea">
        <label class="form-check-label" for="importSourceTextArea">
            {{ translate 'Import from JSON' }}
        </label>
    </div>
</div>

<div class="form-group" id="txtURLContainer">
    <label class="control-label" for="txtURL">{{ translate 'Import BagIt Profile from URL' }}</label>
  <input type="text" id="txtURL" name="txtURL" class="form-control" placeholder="{{ translate 'Profile URL' }}" />
</div>

<div class="form-group" id="txtNameContainer">
    <label class="control-label" for="txtName">{{ translate 'Profile Name' }}</label>
    <input type="text" id="txtName" name="txtName" class="form-control" placeholder="{{ translate 'Profile Name' }}" />
</div>

<div class="form-group" id="txtDescriptionContainer">
    <label class="control-label" for="txtDescription">{{ translate 'Profile Description' }}</label>
  <input type="text" id="txtDescription" name="txtDescription" class="form-control" placeholder="{{ translate 'Profile Description' }}" />
</div>

<div class="form-group" id="txtJsonContainer">
    <label class="control-label" for="txtJson">{{ translate 'BagIt Profile JSON' }}</label>
    <textarea id="txtJson" name="txtJson" class="form-control" rows="16"></textarea>
</div>



<div class="bottom-buttons">
  <div class="pull-right mr-5">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
  </div>
</div>
