{{> bannerAlert message = alertMessage }}

<h2>BagIt Profiles</h2>
<div class="pull-right mt-1 mb-3">
    <a class="btn btn-outline-success" href="#BagItProfile/importStart" role="button">Import Profile</a>
  <a class="btn btn-primary" href="#BagItProfile/new" role="button">New</a>
</div>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    <tr class="clickable-row" data-url="#BagItProfile/edit?id={{ id }}">
      <td>{{ name }}</td>
      <td>{{ description }}</td>
    </tr>
    {{/each }}
  </tbody>
</table>

{{> tableBottomLinks }}
