{{> bannerAlert message = alertMessage }}

<h2>Workflow Batch</h2>

<p>{{ translate "Run all of the directories listed in a spreadsheet through the same workflow. For more information, see DART's " }} <a href="#Help/openExternal?url=https://aptrust.github.io/dart-docs/users/workflows/batch_jobs/">{{ translate "batch workflow documentation" }}</a>.</p>

<form method="post" action="#" id="{{ form.id }}">

  {{> inputSelect field = form.fields.workflowId }}

  {{> inputFile field = form.fields.pathToCSVFile }}

  <div class="bottom-buttons">
    <div class="pull-right">
      <a class="btn btn-primary" href="#WorkflowBatch/runBatch" role="button">Run</a>
    </div>
  </div>

</form>

{{#if batchErrors }}
<div id="batchValidation">
  <h3>Errors</h3>
  <ul>
    {{#each batchErrors as |err| }}
    <li>{{ err }}</li>
    {{/each}}
  </ul>
</div>
{{/if}}


<div class="row" id="dartProcessContainer">

</div>

<div class="alert alert-warning" role="alert" id="batchRunning" style="display:none;">
  {{ translate 'Leave DART open and stay on this page until all jobs in the batch are complete.' }}
</div>

<div class="alert alert-success" role="alert" id="batchCompleted" style="display:none;">
  {{ translate 'All jobs have completed. Check the results below.' }}
</div>

<div class="container mt-2" id="workflowResults" style="display:none;">
  <h3>Results</h3>
</div>
