<h2>Workflow</h2>

<div class="clearfix">
  <div class="pull-right">
    <a class="btn btn-primary mb-3" href="#{{ form.objType }}/showExportJson?id={{ form.fields.id.value }}" role="button">Export</a>
  </div>
</div>


<form method="post" action="#" id="{{ form.id }}">

  {{> inputText field = form.fields.name }}

  {{> inputText field = form.fields.description }}


  {{> inputSelect field = form.fields.packageFormat }}

  <div id="jobProfileContainer" style="display: {{#if (eq form.fields.packageFormat.value 'BagIt')}} block {{else}} none {{/if}};">
    {{> inputSelect field = form.fields.bagItProfileId }}
  </div>

  <p>Upload To</p>

  {{> inputCheckboxGroup field = form.fields.storageServiceIds }}

  {{> inputHidden field = form.fields.packagePluginId }}

  {{> inputHidden field = form.fields.userCanDelete }}

  {{> inputHidden field = form.fields.id }}

  {{> formButtons form = form }}

</form>
