{{> bannerAlert message = alertMessage }}

<h2>Workflows</h2>
<div class="pull-right mt-1 mb-3">
  <a class="btn btn-primary" href="#Workflow/new" role="button">New</a>
</div>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Type</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    <tr class="clickable-row" data-url="#Workflow/edit?id={{ id }}">
      <td>{{ name }}</td>
      <td>{{ description }}</td>
      <td>{{#if skipBagCreation }} {{translate "Non-bagging"}} {{else}} {{ translate "Bagging" }} {{/if }}</td>
    </tr>
    {{/each }}
  </tbody>
</table>

{{> tableBottomLinks }}
