<div class="container mb-3" id="{{ item.id }}">
  <div class="row">
    <div class="col-3">Job</div>
    <div class="col-9">{{ item.name }}</div>
  </div>
  <div class="row">
    <div class="col-3">Process Id</div>
    <div class="col-9">{{ item.process.pid }}</div>
  </div>
  <div class="row">
    <div class="col-3">Started At</div>
    <div class="col-9">{{ item.startedAt }}</div>
  </div>
  <div class="row packageInfo" style="display:none">
    <div class="col-3">Packaging</div>
    <div class="col-9 detail">
      <div class="message"></div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
  </div>
  <div class="row validationInfo" style="display:none">
    <div class="col-3">Validation</div>
    <div class="col-9 detail">
      <div class="message"></div>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    </div>
    </div>
  </div>
  <div class="row uploadInfo" style="display:none">
    <div class="col-3">Upload</div>
    <div class="col-9 detail">
      <div class="message"></div>
    </div>
  </div>
  <div class="row outcome">
    <div class="col-3">Outcome</div>
    <div class="col-9 detail">
      <div class="message"></div>
    </div>
  </div>
</div>
