<div class="form-check {{#each field.cssClasses }}{{ this }}{{/each }}{{ field.formGroupClass }}"
     {{#each field.attrs }}{{ @key }}="{{ this }}"{{/each }}
     {{#if field.hide }}style="display:none;"{{/if}}>
  <label class="form-check-label">
    <input class="form-check-input" type="checkbox" name="{{ field.name }}" value="{{ field.value }}" {{#if this.selected }}checked{{/if }} />
    {{ field.label }}
  </label>
</div>

<small id="{{ field.id }}Error" class="form-text text-danger">
    {{ field.error }}
</small>
