<table class="table table-hover">
  <thead class="thead-inverse tag-table">
    <tr>
      <th>Tag Name</th>
      <th>Default Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each tags as |tag| }}
    <tr class="clickable-row" data-url="#TagDefinition/edit?bagItProfileId={{ ../bagItProfileId }}&id={{ tag.id }}">
      <td>
        {{ tag.tagName }}
        {{#if tag.help }}
        <i class="fas fa-question-circle text-primary" data-toggle="popover" data-trigger="hover" title="{{ tag.tagName }}" data-content="{{tag.help}}"></i>
        {{/if}}
      </td>
      <td>
        {{#if tag.systemMustSet }}
        <span class='text-muted'>[Set automatically by bagger]</span>
        {{else}}
        {{ tag.defaultValue }} {{ bagItProfileId }}
        {{/if}}
      </td>
    </tr>
    {{/each }}
    <tr>
      <td></td>
      <td><div class="pull-right">
        <a class="btn btn-primary btn-xs" data-btn-type="NewTagDef" data-tag-file="{{ tag.tagFile }}" role="button" data-toggle="popover" data-trigger="hover" title="New Tag" data-content="Add a new tag to this file." data-placement="left">+</a>
      </div>
      </td>
    </tr>
  </tbody>
</table>
