<div class="col-md-6">
  <div class="card">
    <div class="card-header">{{ translate "Recent Jobs" }}</div>
    <div class="card-body dashboard-card-body" id="cardRecentJobs">

      {{#if items }}
      <table class="table table-hover">
        <thead class="thead-inverse">
          <tr>
            <th>Name</th>
            <th>Outcome</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each items}}
          <tr>
            <td>{{ name }}</td>
            <td>{{ outcome }}</td>
            <td>{{ date }}</td>
          </tr>
          {{/each }}
        </tbody>
      </table>
      {{ else }}
      <p>{{ translate "No recent jobs." }}</p>
      {{/if}}
    </div>
  </div>
</div>
