<tr class="clickable-row" data-url="#TagDefinition/edit?bagItProfileId={{ bagItProfileId }}&id={{ tag.id }}">
    <td>
        {{ tag.tagName }}
        {{#if tag.help }}
        <i class="fas fa-question-circle text-primary" data-toggle="popover" data-trigger="hover" title="{{ tag.tagName }}" data-content="{{tag.help}}"></i>
        {{/if}}
    </td>
    <td>
        {{#if tag.systemMustSet }}
        <span class='text-muted'>[Set automatically by bagger]</span>
        {{else}}
        {{ tag.defaultValue }}
        {{/if}}
    </td>
</tr>
