<tr class="clickable-row" data-url="#TagDefinition/edit?bagItProfileId={{ bagItProfileId }}&id={{ tag.id }}" data-tag-id="{{ tag.id }}">
    <td>
        {{#if tag.help }}
        <i class="fas fa-question-circle text-primary" data-toggle="popover" data-trigger="hover" title="{{ tag.tagName }}" data-content="{{tag.help}}"></i>
        {{/if}}
    </td>
    <td>
        {{ tag.tagName }}
    </td>
    <td>
        {{#if tag.systemMustSet }}
        <span class='text-muted'>[Set automatically by bagger]</span>
        {{else}}
        {{ tag.defaultValue }}
        {{/if}}
    </td>
    <td class="clickable-cell" data-url="#BagItProfile/deleteTagDef?id={{ bagItProfileId }}&tagDefId={{ tag.id }}">
        {{#unless tag.isBuiltIn }}
        <i class="fas fa-times text-danger" title="Delete {{ tag.tagName }}"></i>
        {{/unless}}
    </td>
</tr>
