{{ define "app-setting-form" }}
{{ template "page_top" . }}

{{ $name := index .form.Fields "Name" }}
{{ $value := index .form.Fields "Value" }}

<h1>Application Setting</h1>

<form method="{{ .form.Method }}" action="{{ .form.Action }}">

  <!-- TODO: Break abstract input into its own template -->

  <div class="form-group">
    <label class="control-label ">Name</label>
    <input type="text" id={{ $name.Id }} name="{{ $name.Name }}" value="{{ $name.Value }}"
           class="form-control" {{ range $k, $v := $name.Attrs }}{{ $k }}="{{ $v }}"{{ end }}>
    {{ if index .obj.Errors "Name" }}
    <small id="{{ $name.Id }}" class="form-text text-danger">
      {{ index .obj.Errors "Name" }}
    </small>
    {{ end }}
  </div>


  <div class="form-group">
    <label class="control-label ">Value</label>
    <input type="text" id="{{ $value.Id }}" name="{{ $value.Name }}" value="{{ $value.Value }}"
           class="form-control" {{ range $k, $v := $name.Attrs }}{{ $k }}="{{ $v }}"{{ end }}>
    {{ if index .obj.Errors "Value" }}
    <small id="{{ $value.Id }}" class="form-text text-danger">
      {{ index .obj.Errors "Value" }}
    </small>
    {{ end }}
  </div>

  <button type="submit" name="submitButton" class="btn btn-default">Submit</button>
</form>


{{ template "page_bottom" . }}
{{ end }}
