{{ define "bag-detail" }}
{{ template "page_top" . }}


<h1>{{ .item.Name }}</h1>

<table class="table">
  <tbody>
    <tr>
      <th scope="row">Id</th>
      <td>{{ .item.Id }}</td>
    </tr>
    <tr>
      <th scope="row">Name</th>
      <td>{{ .item.Name }}</td>
    </tr>
    <tr>
      <th scope="row">Size</th>
      <td>{{ .item.Size }}</td>
    </tr>
    <tr>
      <th scope="row">Storage URL</th>
      <td>{{ .item.StorageURL }}</td>
    </tr>
    <tr>
      <th scope="row">Metadata URL</th>
      <td>{{ .item.MetadataURL }}</td>
    </tr>
    <tr>
      <th scope="row">Storage Registry Identifier</th>
      <td>{{ .item.StorageRegistryIdentifier }}</td>
    </tr>
    <tr>
      <th scope="row">Stored At</th>
      <td>{{ .item.StoredAt }}</td>
    </tr>
    <tr>
      <th scope="row">Created At</th>
      <td>{{ .item.CreatedAt }}</td>
    </tr>
    <tr>
      <th scope="row">Updated At</th>
      <td>{{ .item.UpdatedAt }}</td>
    </tr>
  </tbody>
</table>

<h2>Files</h2>

<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Created At</th>
      <th>Stored At</th>
      <th>StorageURL</th>
      <th>Checksums</th>
    </tr>
  </thead>
  <tbody>
    {{range .items}}
    <tr>
      <td>{{.Name}}</td>
      <td>{{.Size}}</td>
      <td>{{.CreatedAt}}</td>
      <td>{{.StoredAt}}</td>
      <td>{{.StorageURL}}</td>
      <td>
        {{ if .Md5 }}
        md5: {{ .Md5 }} <br/>
        {{ end }}
        {{ if .Sha256 }}
        sha256: {{ .Sha256 }}
        {{ end }}
      </td>
    </tr>
    {{end}}
  </tbody>
</table>


{{ template "page_bottom" . }}
{{ end }}
