{{ define "bag-list" }}
{{ template "page_top" . }}


{{ if .success }}
<div class="alert alert-success" role="alert">
  {{ .success }}
</div>
{{ end }}

<h1>Bags</h1>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Size</th>
      <th>Created At</th>
      <th>Stored At</th>
      <th>Registry Identifier</th>
    </tr>
  </thead>
  <tbody>
    {{range .items}}
    <tr class="clickable-row" data-href="/bag/{{ .Id }}">
      <td>{{.Name}}</td>
      <td>{{.Size}}</td>
      <td>{{.CreatedAt}}</td>
      <td>{{.StoredAt}}</td>
      <td>{{.StorageRegistryIdentifier}}</td>
    </tr>
    {{end}}
  </tbody>
</table>


{{ template "page_bottom" . }}
{{ end }}
