{{ define "bagit-profile-form" }}
{{ template "page_top" . }}

<h1>BagIt Profile</h1>

<form method="{{ .form.Method }}" action="{{ .form.Action }}">

  {{template "input-text" .form.Fields.Name }}

  {{template "input-text" .form.Fields.Description }}

  {{template "input-textarea" .form.Fields.JSON }}

  {{ $relFilePath := "" }}
  {{ range $field := .form.SortedTagFields }}
    {{ if ne $relFilePath $field.RelativeFilePath }}
    <fieldset><legend>{{ $field.RelativeFilePath }}</legend>
    {{ end }}
      {{ if .Choices }}
        {{template "input-select" $field }}
      {{ else }}
        {{template "input-text" $field }}
      {{ end }}
    {{ if ne $relFilePath $field.RelativeFilePath }}
    </fieldset>
    {{ end }}
    {{ $relFilePath := $field.RelativeFilePath }}
  {{ end }}

  <button type="submit" name="submitButton" class="btn btn-default">Submit</button>
</form>

{{ template "page_bottom" . }}
{{ end }}
