{{ define "error" }}
{{ template "page_top" . }}


<h1>{{ .error }}</h1>

<table class="table">
  <tbody>
	<tr>
	  <th>Timestamp</th>
	  <td>{{ .timestamp }}</td>
	</tr>
	<tr>
	  <th>Method</th>
	  <td>{{ .method }}</td>
	</tr>
	  <th>URL</th>
	  <td>{{ .url }}</td>
	</tr>
	<tr>
	  <th>Data</th>
	  <td>
		<table class="table">
		  <tbody>
			{{ range $key, $value := .formdata }}
			<tr>
			  <th>{{ $key }}</th>
			  <td>{{ $value }}</td>
			</tr>
			{{ end }}
		  </tbody>
		</table>
	  </td>
	</tr>
  </tbody>
</table>

<div class="panel panel-default">
  <div class="panel-heading">
	<h3 class="panel-title">Stack Trace</h3>
  </div>
  <div class="panel-body">
	<pre>
{{ .stacktrace }}
	</pre>
  </div>
</div>

<button type="button" class="btn btn-primary" onclick="window.history.back();">Back</button>

{{ template "page_bottom" . }}
{{ end }}
