{{ define "input-select" }}

<div class="form-group">
  <label class="control-label" for="{{ .Id }}">{{ .Label }}</label>
  <select id="{{ .Id }}" name="{{ .Name }}"
         class="form-control {{ .CssClasses }}"
         {{ range $k, $v := .Attrs }}{{ $k }}="{{ $v }}"{{ end }}>
    {{ range $choice := .Choices }}
      <option value="{{ $choice.Value }}" {{ if eq $choice.Value .Value }}selected{{ end }}>{{ $choice.Label }}</option>
    {{ end }}

  </select>
  {{ if .Error }}
  <small id="{{ .Id }}Error" class="form-text text-danger">
    {{ .Error }}
  </small>
  {{ end }}
  {{ if .Help }}
  <small id="{{ .Id }}Help" class="form-text text-muted">
    {{ .Help }}
  </small>
  {{ end }}
</div>

{{ end }}
