{{ define "input-textarea" }}

<div class="form-group">
  <label class="control-label" for="{{ .Id }}">{{ .Label }}</label>
  <textarea id="{{ .Id }}" name="{{ .Name }}"
         class="form-control {{ .CssClasses }}" rows="8"
         {{ range $k, $v := .Attrs }}{{ $k }}="{{ $v }}"{{ end }}>{{ .Value }}</textarea>
  {{ if .Error }}
  <small id="{{ .Id }}Error" class="form-text text-danger">
    {{ .Error }}
  </small>
  {{ end }}
  {{ if .Help }}
  <small id="{{ .Id }}Help" class="form-text text-muted">
    {{ .Help }}
  </small>
  {{ end }}
</div>

{{ end }}
