{{ define "input-password" }}

<div class="form-group">
  <label class="control-label" for="{{ .Id }}">{{ .Label }}</label>
  <input type="password" id="{{ .Id }}" name="{{ .Name }}" value="{{ .Value }}"
         class="form-control {{ .CssClasses }}"
         {{ range $k, $v := .Attrs }}{{ $k }}="{{ $v }}"{{ end }} />
  {{ if .Error }}
  <small id="{{ .Id }}Error" class="form-text text-danger">
    {{ .Error }}
  </small>
  {{ end }}
  {{ if .Help }}
  <small id="{{ .Id }}Help" class="form-text text-muted">
    {{ .Help }}
  </small>
  {{ end }}
</div>

{{ end }}
