{{ define "job-form" }}
{{ template "page_top" . }}

<h1>New Job</h1>

<form method="{{ .form.Method }}" action="{{ .form.Action }}">

  {{ if eq "files" .section }}
  {{ template "job-files" . }}
  {{ end }}


<div id="div-packaging">
  <h2>Packaging</h2>

  {{template "input-select" .form.Fields.BagItProfile }}

  {{ if .form.Fields.BagName }}
  {{template "input-text" .form.Fields.BagName }}
  {{ end }}

  {{ $relFilePath := "" }}
  {{ range $index, $field := .form.SortedTagFields }}
	{{ if $.form.SortedTagFields.RelFilePathChanged $index }}
	<fieldset><legend>{{ $field.RelativeFilePath }}</legend>
	{{ end }}
	  {{ if .Choices }}
		{{template "input-select" $field }}
	  {{ else }}
		{{template "input-text" $field }}
	  {{ end }}
	{{ if $.form.SortedTagFields.RelFilePathChanged $index }}
	</fieldset>
	{{ end }}
	{{ $relFilePath := $field.RelativeFilePath }}
  {{ end }}
</div>

<div id="div-shipping">
  <h2>Shipping</h2>
  <p>Copy bag or files to the following locations.</p>
</div>

<div id="div-review">
  <h2>Review</h2>
  <p>...</p>
</div>


</form>

<script>
  if (document.getElementById('showHideTagFields') != null) {
	document.getElementById('showHideTagFields').addEventListener('click', function (e) {
	  var inputs = document.getElementsByClassName('show-hide')
	  for (var i = 0; i < inputs.length; i++ ) {
		inputs[i].classList.toggle('hidden')
	  }
	});
  }
</script>


{{ template "page_bottom" . }}
{{ end }}
