{{ define "job-files" }}

<div id="div-files" class="jumbotron">
  <h2>Files</h2>
  <p>Drop files into this window.</p>

  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-hover">
        <thead class="thead-inverse">
          <tr>
            <th>File Path</th>
            <th>File Count</th>
            <th>Total Size</th>
          </tr>
        </thead>
        <tbody>
          {{ range .items }}
          <tr>
            <td>{{ .Path }}</td>
            <td>{{ .Count }}</td>
            <td>{{ .Size }}</td>
          </tr>
          {{ end }}
          <tr>
            <td></td>
            <td>{{ .CountTotal }}</td>
            <td>{{ .SizeTotal }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>

{{ end }}
