{{ define "job-files" }}

<div id="div-files" class="jumbotron">
  <h2>Files</h2>
  <p>Drop files into this window.</p>

  <div class="panel panel-default">
    <div class="panel-body">
      <table class="table table-hover" id="filesTable">
        <thead class="thead-inverse">
          <tr>
            <th>File Path</th>
            <th>File Count</th>
            <th>Total Size</th>
          </tr>
        </thead>
        <tbody>
          <tr id="fileTotals">
            <td></td>
            <td id="totalFileCount"></td>
            <td id="totalFileSize"></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script src="/static/js/job.js"></script>

{{ end }}
