{{ define "workflow-list" }}
{{ template "page_top" . }}


<h1>Workflows</h1>
<div class="pull-right">
  <a class="btn btn-primary" href="/workflow/new" role="button">New</a>
</div>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{range .items}}
    <tr class="clickable-row" data-href="/workflow/{{ .Id }}/edit">
      <td>{{.Name}}</td>
      <td>{{.Description}}</td>
    </tr>
    {{end}}
  </tbody>
</table>


{{ template "page_bottom" . }}
{{ end }}
