<h2>Storage Service</h2>

<div class="pull-right mt-1 mb-3">
  <a class="btn btn-primary" href="#StorageService/testConnection" role="button">Test Connection</a>
</div>

<form method="post" action="#" id="{{ id }}">

  {{> inputText field = form.fields.name }}

  {{> inputText field = form.fields.description }}

  {{> inputSelect field = form.fields.protocol }}

  {{> inputText field = form.fields.host }}

  {{> inputText field = form.fields.port }}

  {{> inputText field = form.fields.bucket }}

  {{> inputSelect field = form.fields.allowsUpload }}

  {{> inputSelect field = form.fields.allowsDownload }}

  {{> inputText field = form.fields.login }}

  {{> inputPassword field = form.fields.password }}

  {{> inputText field = form.fields.loginExtra }}

  {{> inputHidden field = form.fields.id }}

  {{> inputHidden field = form.fields.userCanDelete }}

  {{> formButtons form = form }}

</form>
