<div class="row about">
    <p>
        DART is the Digital (Asset/Archivist's) Routing Tool for packaging
        and sending data. It produces BagIt files and uploads them to any
        S3-compliant API.
    </p>
    <p>
        <b>Version</b><br/>{{ version }}
    </p>
    <p>
        <b>App Location</b><br/>{{ appPath }}
    </p>
    <p>
        <b>Data Location</b><br/>{{ userDataPath }}
    </p>

    <p style="margin-top: 15px;">
        This is open source software produced and maintained by
        the <a href="javascript:es.openExternal('http://www.aptrust.org')">Academic
        Preservation Trust</a> on
        <a href="javascript:es.openExternal('https://github.com/APTrust/dart')">GitHub</a>.
        DART's plugin architecture allows developers to add packaging
        formats (tar, rar, zip, etc.) and network protocols (ftp, sftp, etc.).
    </p>
</div>
