<h1>Application Setting</h1>

<form method="post" action="#" id="{{ id }}">

  {{> inputText field = form.fields.name }}


  {{#if form.fields.value.choices}}
    {{> inputSelect field = form.fields.value }}
  {{else}}
    {{> inputText field = form.fields.value }}
  {{/if}}

  {{> inputHidden field = form.fields.userCanDelete }}

  {{> inputHidden field = form.fields.id }}

  <div class="bottom-buttons">
    {{#if showDeleteButton}}
    <div class="pull-left">
      <button type="button" id="btnApplicationSettingDelete" class="btn btn-danger">Delete</button>
    </div>
    {{/if}}
    <div class="pull-right">
      <button type="button" id="btnApplicationSettingSave" class="btn btn-primary">Save</button>
    </div>
  </div>

</form>

<script>
 $('[data-toggle="popover"]').popover();
 var appSettingForm = new es.UI.AppSettingForm(es.State.ActiveObject);
 appSettingForm.initEvents();
</script>
