<h1>Application Setting</h1>

<form method="post" action="#" id="{{ id }}">

  {{> inputText field = form.fields.name }}

  {{> inputText field = form.fields.value }}

  {{> inputHidden field = form.fields.id }}

  <div class="bottom-buttons">
    {{#if showDeleteButton}}
    <div class="pull-left">
      <button type="button" id="btnApplicationSettingDelete" class="btn btn-danger">Delete</button>
    </div>
    {{/if}}
    <div class="pull-right">
      <button type="button" id="btnApplicationSettingSave" class="btn btn-primary">Save</button>
    </div>
  </div>

</form>

<script>
 $('[data-toggle="popover"]').popover();
</script>
