{{#if success }}
<div class="alert alert-success" role="alert">
  {{ success }}
</div>
{{/if }}


<h1>BagIt Profiles</h1>
<div class="pull-right">
  <a class="btn btn-primary" id="btnNewBagItProfile" role="button">New</a>
</div>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    <tr class="clickable-row" data-object-id="{{ id }}" data-object-type="BagItProfile">
      <td>{{ name }}</td>
      <td>{{ description }}</td>
    </tr>
    {{/each }}
  </tbody>
</table>
