<h1>BagIt Profile</h1>

<form method="post" action="#" id="{{ id }}">

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">About This Profile</h3>
      </div>
      <div class="panel-body">

        {{> inputText field = form.fields.name }}

        {{> inputText field = form.fields.description }}

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="#generalReqs" data-toggle="collapse">General Requirements</a></h3>
      </div>
      <div class="panel-body panel-collapse in" id="generalReqs">

        {{> inputSelect field = form.fields.allowFetchTxt }}

        {{> inputSelect field = form.fields.allowMiscTopLevelFiles }}

        {{> inputSelect field = form.fields.allowMiscDirectories }}

        {{> inputSelect field = form.fields.serialization }}

        {{> inputSelect field = form.fields.acceptBagItVersion }}

        {{> inputSelect field = form.fields.manifestsRequired }}

        {{> inputSelect field = form.fields.tagManifestsRequired }}

      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="#profileInfo" data-toggle="collapse">BagIt Profile Info</a></h3>
      </div>
      <div class="panel-body panel-collapse in" id="profileInfo">

        <div class="well">
          Fill out this section only if you intend to make your
          BagIt profile a published standard. If your profile is
          for internal use, leave this section blank.
        </div>

        {{> inputText field = form.fields.infoIdentifier }}

        {{> inputText field = form.fields.infoContactEmail }}

        {{> inputText field = form.fields.infoContactName }}

        {{> inputText field = form.fields.infoExternalDescription }}

        {{> inputText field = form.fields.infoSourceOrganization }}

        {{> inputText field = form.fields.infoVersion }}

      </div>
    </div>
  </div>
</div>


{{#each tags }}
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="#tags{{ @index }}" data-toggle="collapse">Tags in {{ @key }}</a></h3>
      </div>
      <div class="panel-body panel-collapse in" id="tags{{ @index }}">
        <table class="table table-hover">
          <thead class="thead-inverse">
            <tr>
              <th>Tag Name</th>
              <th>Default Value</th>
            </tr>
          </thead>
          <tbody>
            {{#each this as |tag| }}
            <tr class="clickable-row" data-object-id="{{ tag.id }}" data-object-type="TagDefinition">
              <td>{{ tag.tagName }}</td>
              <td>{{ tag.defaultValue }}</td>
            </tr>
            {{/each }}
            <tr>
              <td></td>
              <td><div class="pull-right">
                  <a class="btn btn-primary btn-xs" data-btn-type="NewTagDef" data-tag-file="{{ @key }}" role="button">New</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{/each}}

  {{> inputHidden field = form.fields.id }}

  <div class="modal-buttons">
    {{#if showDeleteButton}}
    <div class="pull-left">
      <button type="button" id="btnBagItProfileDelete" class="btn btn-danger">Delete</button>
    </div>
    {{/if}}
    <div class="pull-right">
      <button type="button" id="btnBagItProfileSave" class="btn btn-primary">Save</button>
    </div>
  </div>

</form>


<script>
  $('[data-toggle="popover"]').popover();
</script>
