<div class="form-group" data-custom-tag-id="{{ field.id }}">
  <input type="text" id="{{ field.id }}-name" value="{{ field.name }}" class="form-control custom-tag custom-tag-name" placeholder="Tag-Name" data-tag-id="{{ field.id }}"/>
  <input type="text" id="{{ field.id }}-value" value="{{ field.value }}" class="form-control custom-tag custom-tag-value" placeholder="Tag value" data-tag-id="{{ field.id }}"/>
  <a href="#" onclick="deleteCustomTag('{{ field.id }}')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
</div>
