<p>TODO: Add search (bag name, file name)</p>
<p>TODO: Add New Job Button</p>

<div class="row">
  <div class="col-sm-6">
      <h4>Recent Jobs</h4>
      <table class="table table-hover">
          <thead class="thead-inverse">
              <tr>
                  <th>Job</th>
                  <th>Details</th>
              </tr>
          </thead>
          <tbody>
              {{#each jobs}}
              <tr class="clickable-row" id="{{ id }}" data-object-type="Ignore" onclick="showJobDetail('{{id}}')">
                  <td>{{ bagName }}</td>
                  <td>
                      {{#each operationResults as |result resultIndex|}}
                        {{ resultSummary result }} <br/>
                      {{else}}
                        Job has not been run.
                      {{/each}}
                  </td>
              </tr>
              {{/each }}
          </tbody>
      </table>
  </div>
  <div class="col-sm-6" id="jobDetail">

  </div>
</div>

<script>
 $('[data-toggle="popover"]').popover();
 function showJobDetail(id) {
     var data = {};
     var job = es.Job.find(id);
     data.job = job;
     if (job.bagItProfile != null) {
         data.bagInternalIdentifier = job.bagItProfile.bagInternalIdentifier();
         data.bagTitle = job.bagItProfile.bagTitle();
         data.bagDescription =job.bagItProfile.bagDescription();
     }
     $('#jobDetail').html(templates.jobSummaryPanel(data));
     es.ActiveObject = job;
 }
</script>
