{{#if jobs}}
<div class="row">
  <div class="col-sm-6">
      <h4>Recent Jobs</h4>
      <table class="table table-hover">
          <thead class="thead-inverse">
              <tr>
                  <th>Job</th>
                  <th>Details</th>
              </tr>
          </thead>
          <tbody>
              {{#each jobs}}
              <tr class="clickable-row" data-object-id="{{ id }}" data-object-type="Job">
                  <td>{{ bagName }}</td>
                  <td>
                      {{#each operationResults as |result resultIndex|}}
                        {{ resultSummary result }} <br/>
                      {{else}}
                        Job has not been run.
                      {{/each}}
                  </td>
              </tr>
              {{/each }}
          </tbody>
      </table>
  </div>
  <div class="col-sm-6" id="jobDetail">

  </div>
</div>
{{else}}

<h1>Welcome!</h1>

  {{#if setupsCompleted}}
    {{{ setupsCompleted }}}
    <p>You man continue to the <a href="#" id="setupPage">setup page</a> to update your settings, or <a href="#" id="newJobLink">create a new job</a>.<p>
  {{else}}
    <p>It looks like you're just getting started with DART. The <a href="#" id="setupPage">setup page will walk you through the setup process</a>.</p>
  {{/if}}


{{/if}}

<script>
 // Since this is the first page loaded, we need to wait
 // for document.onload. All other templates can assume
 // jQuery and es are already present.
 $(function() {
     $('[data-toggle="popover"]').popover();
     var dashboard = new es.UI.Dashboard();
     dashboard.initEvents();
 });
</script>
