{{#if jobs}}
<div class="row">
  <div class="col-sm-6">
      <h4>Recent Jobs</h4>
      <table class="table table-hover">
          <thead class="thead-inverse">
              <tr>
                  <th>Job</th>
                  <th>Details</th>
              </tr>
          </thead>
          <tbody>
              {{#each jobs}}
              <tr class="clickable-row" id="{{ id }}" data-object-type="Ignore" onclick="showJobDetail('{{id}}')">
                  <td>{{ bagName }}</td>
                  <td>
                      {{#each operationResults as |result resultIndex|}}
                        {{ resultSummary result }} <br/>
                      {{else}}
                        Job has not been run.
                      {{/each}}
                  </td>
              </tr>
              {{/each }}
          </tbody>
      </table>
  </div>
  <div class="col-sm-6" id="jobDetail">

  </div>
</div>
{{else}}

<h1>Welcome!</h1>

<p>It looks like you're just getting started with EasyStore. The <a href="#" id="setupPage">setup page will walk you through the setup process</a>.</p>

{{/if}}

<script>
 $('[data-toggle="popover"]').popover();

 $(function() {
     $('#gettingStarted').click(function(e) {
         // This is the same as helpShow in application.js.
         // Should be moved to one UI class.
         $("#container").html(templates.help());
         es.ActiveObject = null;
     });
     $('#setupPage').click(function(e) {
         // Refactor, since this also appears in application.js
         // as function setupShow().
         // Make this part of ui/Setup?
         var data = {};
         var setupList = new es.Field('setupProvider', 'setupProvider', 'Repository', '');
         setupList.choices = es.Choice.makeList(es.Plugins.listSetupProviders(), '', true);
         data.setupList = setupList;
         $("#container").html(templates.setup(data));
         es.ActiveObject = null;
     });
 });


 // TODO: refactor/move this to a module with common UI code.
 function showJobDetail(id) {
     var electron = require('electron');
     var app = (process.type === 'renderer') ? electron.remote.app : electron.app;
     var path = require('path');
     var fs = require('fs');
     var data = {};
     var job = es.Job.find(id);
     data.job = job;
     if (job.bagItProfile != null) {
         data.bagInternalIdentifier = job.bagItProfile.bagInternalIdentifier();
         data.bagTitle = job.bagItProfile.bagTitle();
         data.bagDescription =job.bagItProfile.bagDescription();
     }
     data.opResults = [];
     for (var result of job.operationResults) {
         data.opResults.push({
             cssClass: result.succeeded ? 'text-success' : 'text-warning',
             summary: result.summary(),
             filename: path.basename(result.filename),
             filesize: result.filesize.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","),
             note: result.note,
             warning: result.warning,
             error: result.error
         });
         if (result.provider == "APTrust BagIt Provider") {
             var manifestDir = path.join(app.getPath('userData'), 'manifests');
             for (var filename of fs.readdirSync(manifestDir)) {
                 if (filename.startsWith(job.id)) {
                     data.hasManifest = true;
                     break;
                 }
             }
         }
     }
     $('#jobDetail').html(templates.jobSummaryPanel(data));
     es.ActiveObject = job;
 }

 // TODO: Move to common UI module
 // TODO: This will use too much memory and CPU fo large manifests containing >10k entries.
 function viewManifests(jobId) {
     var electron = require('electron');
     var app = (process.type === 'renderer') ? electron.remote.app : electron.app;
     var path = require('path');
     var fs = require('fs');
     var dateFormat = require('dateformat');
     var manifests = [];
     var manifestDir = path.join(app.getPath('userData'), 'manifests');
     for (var filename of fs.readdirSync(manifestDir)) {
         if (filename.startsWith(jobId)) {
             // Filename format is jobId_algorithm_timestamp.txt
             var parts = filename.split('_');
             var jobId = parts[0];
             var algorithm = parts[1];
             var timestamp = parts[2].split('.')[0];
             var ts = new Date(parseInt(timestamp, 10));
             var fullPath = path.join(manifestDir, filename);
             manifests.push({
                 jobId: jobId,
                 algorithm: algorithm,
                 timestamp: dateFormat(ts, 'shortDate') + " " + dateFormat(ts, 'shortTime'),
                 contents: fs.readFileSync(fullPath, "utf8"),
             });
         }
     }
     var data = {};
     data.manifests = manifests;
     $('#modalTitle').text("Manifests");
     $("#modalContent").html(templates.manifest(data));
     $('#modal').modal();
 }
</script>
