<h1>Table of Contents</h1>

<h2>About</h2>

<p>You're using EasyStore 0.1.0, which is an early release with limited functionality and limited real-world testing. It currently supports the following operations:</p>

<ul>
    <li>Creating APTrust and DPN bags</li>
    <li>Uploading bags to Amazon's S3 storage service (where APTrust can pick them up for ingest)</li>
    <li>Creating custom BagIt profiles (for advanced users)</li>
</ul>

<p>The product currently consists of two applications: EasyStore, which is the graphical component you're looking at now, and apt_create_bag which packages files into BagIt format. In the months to come, apt_create_bag will be wrapped into EasyStore. We plan on adding new Storage Service types (in addition to S3) and a few other features. We'll also improve documentation, testing, and quality control.</p>

<h2>Getting Started</h2>

<h3>Customizing Your BagIt Profile</h3>

<h3>Adding a Storage Service</h3>

<h3>Running Your First Job</h3>

<h3>Viewing Job Manifests</h3>

<h2>Application Settings</h2>

<h2>Storage Services</h2>

<h2>BagIt Profiles</h2>

<h2>Creating a Custom BagIt Profile</h2>
For advanced users and needs.

<h2><a name="Additional Resources for APTrust Members">Additional Resources for APTrust Members</a></h2>

<p>APTrust members who have questions or need help can contact support at <a href="mailto:support@aptrust.org">support@aptrust.org</a></p>

<p>The APTrust wiki includes a number of useful pages for members who want to know more about how the repository works. Useful pages include: </p>

<ul>
    <li><a class="external-link clickable" data-href="https://wiki.aptrust.org/Using_APTrust">Using APTrust</a> contains useful info about bagging, deposits, how to restore data, and more.</li>
    <li><a class="external-link clickable" data-href="https://wiki.aptrust.org/Partner_Tools">Partner Tools</a> contains links to additional APTrust command-line tools that can be used in scripted and automated workflows.</li>
    <li>The <a class="external-link clickable" data-href="https://wiki.aptrust.org/Member_API">Member API</a> page includes information about our REST API. Please note that you will need to request an API key from APTrust to get started.</li>
</ul>

<p>You can find us on GitHub:</p>

<ul>
    <li>Code: <a class="external-link clickable" data-href="https://github.com/APTrust/easy-store">https://github.com/APTrust/easy-store</a></li>
    <li>Bugs and feature requests: <a class="external-link clickable" data-href="https://github.com/APTrust/easy-store/issues">https://github.com/APTrust/easy-store/issues</a></li>
</ul>

<h2><a name="Additional Resources for DPN Members">Additional Resources for DPN Members</a></h2>

<p>Please note that while you can use EasyStore to create DPN bags, you cannot deposit data directly into DPN. Deposits must go through a DPN node such as APTrust, Hathi Trust, Chronopolis, or the Texas Digital Repository.</p>

<p>For more information about DPN, go to <a class="external-link clickable" data-href="http://dpn.org/">http://dpn.org/</a>, or the DPN wiki at <a class="external-link clickable" data-href="https://wiki.duraspace.org/display/DPNC/">The DPN Wiki</a>, but note that some parts of the wiki are out of date.</p>

<script>
$(function() {
     const {shell} = require('electron')
     $('.external-link').click(function(e) {
         shell.openExternal($(this).data('href'));
     });
});
</script>
