<div class="form-group">
  <label class="control-label" for="{{ field.id }}">{{ field.label }}</label>
  <textarea id="{{ field.id }}" name="{{ field.name }}"
         class="form-control {{#each field.cssClasses }}{{ this }} {{/each }}" rows="8"
         {{#each field.attrs }}{{ @key }}="{{ this }}" {{/each }}>{{ value }}</textarea>
  {{#if field.error }}
  <small id="{{ field.id }}Error" class="form-text text-danger">
    {{ field.error }}
  </small>
  {{/if }}
  {{#if field.help }}
  <small id="{{ field.id }}Help" class="form-text text-muted">
    {{ field.help }}
  </small>
  {{/if }}
</div>
