<div class="form-group">
  <label class="control-label" for="{{ field.id }}"
         {{#if field.help }}data-toggle="popover" data-trigger="hover" title="{{ field.label }}" data-content="{{field.help}}"{{/if}}>{{ field.label }}</label>
  <select id="{{ field.id }}" name="{{ field.name }}"
         class="form-control {{#each field.cssClasses }}{{ this }} {{/each }}"
         {{#each field.attrs }}{{ @key }}="{{ this }}" {{/each }}>
    {{#each field.choices }}
      <option value="{{ this.value }}" {{#if this.selected }}selected{{/if }}>{{ this.label }}</option>
    {{/each }}
  </select>
  {{#if field.error }}
  <small id="{{ field.id }}Error" class="form-text text-danger">
    {{ field.error }}
  </small>
  {{/if }}
</div>
