<div class="form-group">
  <label class="control-label {{#if field.help }}clickable{{/if}}" for="{{ field.id }}"
         {{#if field.help }}data-toggle="popover" data-trigger="hover" title="{{ field.label }}" data-content="{{field.help}}"{{/if}}>{{ field.label }} {{#if field.attrs.required}}*{{/if}} {{#if field.help}}<span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>{{/if}}</label>
  <input type="text" id="{{ field.id }}" name="{{ field.name }}" value="{{ field.value }}"
         class="form-control {{#each field.cssClasses }}{{ this }} {{/each }}"
         {{#each field.attrs }}{{ @key }}="{{ this }}" {{/each }} />
  <small id="{{ field.id }}Error" class="form-text text-danger">
    {{ field.error }}
  </small>
</div>
