<div id="div-files" class="jumbotron">
  <h2>Bagging Options</h2>

<form id="jobTagsForm">
{{#each tags }}
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="#tags{{ @index }}" data-toggle="collapse">Tags in {{ @key }}</a></h3>
      </div>
      <div class="panel-body panel-collapse in" id="tags{{ @index }}">
        {{#each this as |tag| }}
          {{#unless tag.systemMustSet }}
            {{#if tag.values}}
              {{> inputSelect field = (jobFormTagField tag) }}
            {{else if tag.looksLikeDescriptionTag }}
              {{> inputTextArea field = (jobFormTagField tag) }}
            {{else}}
              {{> inputText field = (jobFormTagField tag) }}
            {{/if}}
          {{/unless}}
        {{/each}}
        <div class="pull-right"><a class="btn btn-primary btn-xs" data-btn-type="NewTagDefForJob" data-tag-file="{{ @key }}" role="button" data-toggle="popover" data-trigger="hover" title="New Tag" data-content="Add a new tag to this file." data-placement="left">+</a></div>
      </div>
    </div>
  </div>
</div>
{{/each}}
</form>

<div id="jobTagsMissing" class="alert alert-danger" style="display:none" role="alert">
  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
  One or more required fields is empty.
</div>

</div>

<div class="pull-right" id="btnJobStorageDiv">
  <a class="btn btn-primary" id="btnJobStorage" role="button">Next &gt;&gt;</a>
</div>

<div class="pull-left" id="btnJobPackagingDiv">
  <a class="btn btn-primary" id="btnJobPackaging" role="button">&lt;&lt; Previous</a>
</div>


<script>
 $('[data-toggle="popover"]').popover();

 $("#btnJobPackaging").click(function() {
     var job = es.ActiveObject;
     job.save();
     var data = {};
     data.form = job.toPackagingForm();
     $("#container").html(templates.jobPackaging(data));
 });

 $("#btnJobStorage").click(function() {
     var isValid = true;
     for (var f of $(".form-control.required")) {
         var field = $(f);
         var parent = field.closest("div.form-group");
         if (field.val() == "") {
             isValid = false;
             parent.removeClass("has-success");
             parent.addClass("has-error");
         } else {
             parent.removeClass("has-error");
             parent.addClass("has-success");
         }
     }
     if (isValid) {
         $("#jobTagsMissing").show();
         var job = es.ActiveObject;
         job.save();
         goToJobStorage();
     } else {
         $("#jobTagsMissing").hide();
         console.log("Form is not valid.");
     }
 });

 function goToJobStorage() {
     var job = es.ActiveObject;
     var data = {};
     data.bagOrFiles = "bag";
     if (job.bagItProfile == null) {
         data.bagOrFiles = "files";
     }
     data.form = job.toStorageServiceForm();
     $("#container").html(templates.jobStorage(data));
 }
</script>
