<div id="divJobReview">

  {{! jobTabs tabReview = true }}

  <h2>Review</h2>

  {{#if job.bagItProfile}}
  <div class="row row-spaced">
      <div class="col-sm-2"><strong>Profile</strong></div>
      <div class="col-sm-10">{{ job.bagItProfile.name }}</div>
  </div>
  <div class="row row-spaced">
      <div class="col-sm-2"><strong>Bag Name</strong></div>
      <div class="col-sm-10">{{ job.bagName }}</div>
  </div>
  <div class="row row-spaced">
      <div class="col-sm-2"><strong>Internal Identifier</strong></div>
      <div class="col-sm-10">{{ bagInternalIdentifier }}</div>
  </div>
  <div class="row row-spaced">
      <div class="col-sm-2"><strong>Title</strong></div>
      <div class="col-sm-10">{{ bagTitle }}</div>
  </div>
  <div class="row row-spaced">
      <div class="col-sm-2"><strong>Description</strong></div>
      <div class="col-sm-10">{{ bagDescription }}</div>
  </div>
  {{/if}}

  {{#if job.files}}
  <div class="row row-spaced">
    <div class="col-sm-2"><strong>Files</strong></div>
    <div class="col-sm-10">
        <ol class="ol-aligned">
        {{#each job.files}}
          <li>{{ this }}</li>
        {{/each}}
        </ol>
    </div>
  </div>
  {{/if}}

  {{#if storageServices}}
  <div class="row row-spaced">
      <div class="col-sm-2"><strong>Upload To</strong></div>
      <div class="col-sm-10">
          <ol class="ol-aligned">
              {{#each storageServices as |service| }}
              <li>{{ service.name }}</li>
              {{/each}}
          </ol>
      </div>
  </div>
  {{/if}}

  <div class="clearfix" style="height: 30px;"></div>

  <div id="jobRun" style="display:none">

      <h3>Running Job</h3>

      <div id="jobFilesStart" class="alert alert-info" role="alert">
          <div id="jobPackage">
              <span class="fa fa-spinner fa-spin status" aria-hidden="true"></span>
              <span class="message"></span>
          </div>
          <div id="jobRunFiles" style="display:none;">
              <span class="fa fa-spinner fa-spin status" aria-hidden="true"></span>
              <span class="message">Adding files to bag...</span>
          </div>
          <div id="jobPackageComplete" style="display:none;">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <span class="message"></span>
          </div>
          <div id="jobValidate" style="display:none;">
              <span class="fa fa-spinner fa-spin status" aria-hidden="true"></span>
              <span class="message"></span>
          </div>
      </div>

      <div id="jobStorageStart" class="alert alert-info" role="alert" style="display:none">
          <div id="jobUploadFile" style="display:none;">
              <span class="fa fa-spinner fa-spin status" aria-hidden="true"></span>
              <span class="message"></span>
          </div>
          <div id="jobStorageComplete" style="display:none;">
              <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <span class="message"></span>
          </div>
      </div>

      <div id="jobError" class="alert alert-danger" role="alert" style="display:none;">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
          <span class="message"></span>
      </div>

  </div>

  <div class="clearfix" style="height: 30px;"></div>

  <div class="pull-left" id="divJobStorageDiv">
    <a class="btn btn-primary" id="btnJobStorage" role="button">&lt;&lt; Previous</a>
  </div>

  <div class="pull-right" id="divJobRun">
      <a class="btn btn-primary" id="btnJobRun" role="button">Run Job</a>
  </div>


</div>

<script>
 var jobReview = new es.UI.JobReview(es.State.ActiveObject);
 jobReview.initEvents();
</script>
