<div id="divJobPackaging">

  {{! jobTabs tabPackaging = true }}

  <h2>Packaging</h2>

  <form>

    {{> inputSelect field = form.fields.packageFormat }}

    <div id="jobProfileContainer" style="display: {{#if showProfileList}}block{{else}}none{{/if}};">
    {{> inputSelect field = form.fields.profile }}
    </div>

    {{> inputText field = form.fields.baggingDirectory }}

    {{> inputText field = form.fields.bagName }}

    <div style="margin-bottom:12px;">
      <div id="nameHintAPTrust" style="display:none">
        <small class="form-text text-muted">
          APTrust bag names must begin with your domain name ({{ domainName }}), followed by a dot and a name.
          <a href="#" class="suggest-name">Suggest</a>
        </small>
      </div>
      <div id="nameHintDPN" style="display:none">
        <small class="form-text text-muted">
          DPN bag names must be version 4 UUIDs.
          <a href="#" class="suggest-name">Suggest</a>
        </small>
      </div>
      <div id="nameHintGeneric" style="display:none">
        <small class="form-text text-muted">
          Bag names cannot contain spaces or any of the following chacters: &lt;, &gt;, :, ", /, |, ?, *, \,
          space, tab or newline.
          <a href="#" class="suggest-name">Suggest</a>
        </small>
      </div>
    </div>

  </form>

</div>

<div class="pull-right" id="btnJobStorageDiv">
  <a class="btn btn-primary" id="btnJobTagsOrStorage" role="button">Next &gt;&gt;</a>
</div>

<div class="pull-left" id="btnJobFilesDiv">
  <a class="btn btn-primary" id="btnJobFiles" role="button">&lt;&lt; Previous</a>
</div>


<script>
 $('[data-toggle="popover"]').popover();
 var jobPackaging = new es.UI.JobPackaging(es.State.ActiveObject);
 jobPackaging.initEvents();
 jobPackaging.showBagNameHint();
</script>
