<div id="divJobReview">

  {{! jobTabs tabReview = true }}

  <h2>Review</h2>

  {{#if job.bagItProfile}}
  <h3>Bag Info</h3>
  <div class="row">
      <div class="col-sm-4"><strong>Profile</strong></div>
      <div class="col-sm-8">{{ job.bagItProfile.name }}</div>
  </div>
  <div class="row">
      <div class="col-sm-4"><strong>Bag Name</strong></div>
      <div class="col-sm-8">{{ job.bagName }}</div>
  </div>
  <div class="row">
      <div class="col-sm-4"><strong>Internal Identifier</strong></div>
      <div class="col-sm-8">{{ bagInternalIdentifier }}</div>
  </div>
  <div class="row">
      <div class="col-sm-4"><strong>Title</strong></div>
      <div class="col-sm-8">{{ bagTitle }}</div>
  </div>
  <div class="row">
      <div class="col-sm-4"><strong>Description</strong></div>
      <div class="col-sm-8">{{ bagDescription }}</div>
  </div>
  {{/if}}

  {{#if job.files}}
  <h3>Files</h3>
  {{#each job.files}}
  <div class="row">
    <div class="col-sm-12">{{ this }}</div>
  </div>
  {{/each}}
  {{/if}}

  {{#if storageServices}}
  <h3>Upload To</h3>
  {{#each storageServices as |service| }}
  <div class="row">
    <div class="col-sm-12">{{ service.name }}</div>
  </div>
  {{/each}}
  {{/if}}

  <div class="clearfix" style="height: 30px;"></div>

  <div id="jobRun" style="display:none">

      <h3>Running Job</h3>

      <div id="jobFilesStart" class="alert alert-info" role="alert">
          <div id="jobRunFiles">
              <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
              <span class="message">Adding files to bag...</span>
          </div>
          <div id="jobPackage">
              <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
              <span class="message"></span>
          </div>
          <div id="jobValidate">
              <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span>
              <span class="message"></span>
          </div>
          <div id="jobPackageComplete">
              <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
              <span class="message"></span>
          </div>
      </div>

      <div id="jobError" class="alert alert-danger" role="alert" style="display:none;">
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
          <span class="message"></span>
      </div>

  </div>

  <div class="clearfix" style="height: 30px;"></div>

  <div class="pull-left" id="divJobStorageDiv">
    <a class="btn btn-primary" id="btnJobStorage" role="button">&lt;&lt; Previous</a>
  </div>

  <div class="pull-right" id="divJobRun">
      <a class="btn btn-primary" id="btnJobRun" role="button">Run Job</a>
  </div>


</div>

<script>
 $("#btnJobStorage").click(function() {
     var job = es.ActiveObject;
     var data = {};
     data.form = job.toStorageServiceForm();
     $("#container").html(templates.jobStorage(data));
 });
 $("#btnJobRun").click(function() {
     var job = es.ActiveObject;
     job.run();
 });
</script>
