<div id="divJobSummary">

  {{#if job.bagItProfile}}
  <div class="row row-spaced">
      <div class="col-sm-2"><strong>Profile</strong></div>
      <div class="col-sm-10">{{ job.bagItProfile.name }}</div>
  </div>
  <div class="row row-spaced">
      <div class="col-sm-2"><strong>Bag Name</strong></div>
      <div class="col-sm-10">{{ job.bagName }}</div>
  </div>
  <div class="row row-spaced">
      <div class="col-sm-2"><strong>Internal Identifier</strong></div>
      <div class="col-sm-10">{{ bagInternalIdentifier }}</div>
  </div>
  <div class="row row-spaced">
      <div class="col-sm-2"><strong>Title</strong></div>
      <div class="col-sm-10">{{ bagTitle }}</div>
  </div>
  <div class="row row-spaced">
      <div class="col-sm-2"><strong>Description</strong></div>
      <div class="col-sm-10">{{ bagDescription }}</div>
  </div>
  {{/if}}

  {{#if job.storageServices}}
  <div class="row row-spaced">
      <div class="col-sm-2"><strong>Upload To</strong></div>
      <div class="col-sm-10">
          {{#each job.storageServices as |service| }}
          {{ service.name }}<br/>
          {{/each}}
      </div>
  </div>
  {{/if}}

  <div class="row row-spaced">
      <div class="col-sm-2"><strong>Results</strong></div>
      <div class="col-sm-10">
          {{#each opResults as |result| }}
          <span class="{{ result.cssClass }}">{{ result.summary }}</span><br/>
            {{#if result.note}}
            <span class="{{ result.cssClass }}">{{ result.note }}</span><br/>
            {{/if}}
            {{#if result.warning}}
            <span class="{{ result.cssClass }}">{{ result.warning }}</span><br/>
            {{/if}}
            {{#if result.error}}
            <span class="text-danger">{{ result.error }}</span><br/>
            {{/if}}
          <br/>
          {{else}}
          This job has not been run.
          {{/each}}
      </div>
  </div>

  {{#if job.files}}
  <div class="row row-spaced">
    <div class="col-sm-2"><strong>Files</strong></div>
    <div class="col-sm-10">
        {{#each job.files}}
          {{ this }}<br/>
        {{/each}}
    </div>
  </div>
  {{/if}}

  {{#if hasManifest}}
  <div class="text-center" style="margin-top:25px;">
      <button type="button" id="btnViewManifest" class="btn btn-primary" onclick="viewManifests('{{ job.id }}')">View Manifests</button>
  </div>
  {{/if}}

</div>

<script>
</script>
