<div id="div-files" class="jumbotron">
  <h2>Bagging Options</h2>

<form>
{{#each tags }}
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="#tags{{ @index }}" data-toggle="collapse">Tags in {{ @key }}</a></h3>
      </div>
      <div class="panel-body panel-collapse in" id="tags{{ @index }}">
        {{#each this as |tag| }}
          {{#if tag.values}}
            {{> inputSelect field = (jobFormTagField tag) }}
          {{else}}
            {{> inputTextArea field = (jobFormTagField tag) }}
          {{/if}}
        {{/each}}
        <div class="pull-right"><a class="btn btn-primary btn-xs" data-btn-type="NewTagDefForJob" data-tag-file="{{ @key }}" role="button">+</a></div>
      </div>
    </div>
  </div>
</div>
{{/each}}
</form>

</div>

<div class="pull-right" id="btnJobStorageDiv">
  <a class="btn btn-primary" id="btnJobStorage" role="button">Next &gt;&gt;</a>
</div>

<div class="pull-left" id="btnJobPackagingDiv">
  <a class="btn btn-primary" id="btnJobPackaging" role="button">&lt;&lt; Previous</a>
</div>


<script>
  $('[data-toggle="popover"]').popover();
  $("#btnJobPackaging").click(function() {
        var job = es.ActiveObject;
        var data = {};
        data.form = job.toPackagingForm();
        $("#container").html(templates.jobPackaging(data));
  });

  $("#btnJobStorage").click(function() {
      var job = es.ActiveObject;
      var data = {};
      // Validate required tags before going forward
      // Show storage options
  });
</script>
