<div id="divJobFiles">

  {{! jobTabs tabFiles = true }}

  <h2>Files</h2>
  <p>The first step in creating a job is to choose the files you want to package and send.</p>
  <p>Drag and drop folders and files into this window.</p>

  <div class="panel panel-default" id="filesPanel" style="display:none;">
    <div class="panel-body">
      <table class="table table-hover" id="filesTable">
        <thead class="thead-inverse">
          <tr>
            <th>File Path</th>
            <th>Directories</th>
            <th>Files</th>
            <th>Total Size</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr id="fileTotals">
            <td>Totals</td>
            <td id="totalDirCount" data-total="0"></td>
            <td id="totalFileCount" data-total="0"></td>
            <td id="totalFileSize" data-total="0"></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <a href="#" id="linkAdvanced">Advanced</a>

      <div id="divAdvanced" style="display:none;">
          <div class="checkbox">
              <label data-toggle="popover" data-trigger="hover" title="DS_Store Files"
                     data-content="Check this option if you want to skip hidden .DS_Store files when packaging and uploading files. Hint: you usually want this to be checked.">
                  <input type="checkbox" id="filesSkipDSStore" name="filesOptionDSStore" checked/>
                  Skip .DS_Store files.
              </label>
          </div>
          <div class="radio">
              <label data-toggle="popover" data-trigger="hover" title="Hidden File Options"
                     data-content="Include hidden files.">
                  <input type="radio" id="filesKeepHidden" name="filesOptionHidden" checked/>
                  Keep all hidden files.
              </label>
          </div>
          <div class="radio">
              <label data-toggle="popover" data-trigger="hover" title="Hidden File Options"
                     data-content="Exclude all hidden files except '.keep'.">
                  <input type="radio" id="filesSkipHidden" name="filesOptionHidden"/>
                  Skip hidden files (except .keep).
              </label>
          </div>
          <div class="radio">
              <label data-toggle="popover" data-trigger="hover" title="Hidden File Options"
                     data-content="Exclude all hidden files, even .keep files. You generally don't want to check this. Dot-keep files usually exist to indicate that otherwise empty directories should be preserved.">
                  <input type="radio" id="filesSkipDotKeep" name="filesOptionHidden"/>
                  Skip hidden files (including .keep).
              </label>
          </div>
      </div>


      <div class="alert alert-danger" role="alert" id="fileWarningContainer" style="display: none">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <div id="fileWarning"></div>
      </div>

    </div>
  </div>
</div>

<div class="pull-right" style="display:none" id="btnJobPackagingDiv">
  <a class="btn btn-primary" id="btnJobPackaging" role="button">Next &gt;&gt;</a>
</div>


<script>
  $('[data-toggle="popover"]').popover();
  $('#linkAdvanced').click(function() { $("#divAdvanced").toggle(); });
  $("input[name=filesOptionDSStore]").change(function() {
      var job = es.ActiveObject;
      job.fileOptionsChanged();
  });
  $("input[name=filesOptionHidden]").change(function() {
      var job = es.ActiveObject;
      job.fileOptionsChanged();
  });
  $("#btnJobPackaging").click(function () {
    var job = es.ActiveObject;
    var data = {};
    data.form = job.toPackagingForm();
    data.domainName = es.AppSetting.findByName("Institution Domain").value;
    data.showProfileList = data.form.fields.packageFormat.getSelected() == "BagIt";
    //es.ViewCache['jobFiles'] = $("#container").html();
    $("#container").html(es.Templates.jobPackaging(data));
  });
</script>
