<div id="divJobStorage">

  {{! jobTabs tabStorage = true }}

  <h2>Storage</h2>
  <p>Upload {{ bagOrFiles }} to the following storage services:</p>

  <form>

      {{> inputCheckboxGroup field = form.fields.storageServices }}

  </form>

  <div class="clearfix" style="height: 30px;"></div>

  <div class="pull-right" id="btnJobReviewDiv">
    <a class="btn btn-primary" id="btnJobReview" role="button">Next &gt;&gt;</a>
  </div>

  <div class="pull-left" id="divPrevious">
    <a class="btn btn-primary" id="btnPrevious" role="button">&lt;&lt; Previous</a>
  </div>

</div>

<script>
 $('[data-toggle="popover"]').popover();
 var jobStorage = new es.UI.JobStorage(es.State.ActiveObject);
 jobStorage.initEvents();
</script>
