<div id="divJobTags">

  {{! jobTabs tabMetadata = true }}

  <h2>Metadata</h2>

  <form id="jobTagsForm">
    {{#each tags }}
    <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a href="#tags{{ @index }}" class="pull-right" data-toggle="collapse"><img src="static/img/expand_thick.png" class="es-small-icon" data-toggle="popover" data-trigger="hover" title="Show/Hide Tags" data-content="Show/hide tags in this file" data-placement="left" /></a>
            <h3 class="panel-title"><a href="#tags{{ @index }}" data-toggle="collapse">{{ @key }}</a></h3>
            <div class="file-complete"></div>
          </div>
          <div class="panel-body panel-collapse in" id="tags{{ @index }}" data-file-name="{{ @key }}">
            {{#each this as |tag| }}
              {{#unless tag.systemMustSet }}
                {{#if tag.values}}
                  {{> inputSelect field = (jobFormTagField tag) }}
                {{else if tag.looksLikeDescriptionTag }}
                  {{> inputTextArea field = (jobFormTagField tag) }}
                {{else}}
                  {{> inputText field = (jobFormTagField tag) }}
                {{/if}}
              {{/unless}}
            {{/each}}
            <div class="pull-right"><a class="btn btn-primary btn-xs" data-btn-type="NewTagDefForJob" data-tag-file="{{ @key }}" role="button" data-toggle="popover" data-trigger="hover" title="New Tag" data-content="Add a new tag to this file." data-placement="left">+</a></div>
          </div>
        </div>
    </div>
    {{/each}}
  </form>


  <div class="row" style="margin-bottom: 25px;">
      <div class="pull-right">
          <a class="btn btn-primary btn-xs" id="btnNewTagFileForJob" role="button">Add Tag File</a>
      </div>
  </div>

  <div id="jobTagsMissing" class="alert alert-danger" style="display:none" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    One or more required fields is empty.
  </div>

</div>

<div class="pull-right" id="btnJobStorageDiv">
  <a class="btn btn-primary" id="btnJobStorage" role="button">Next &gt;&gt;</a>
</div>

<div class="pull-left" id="btnJobPackagingDiv">
  <a class="btn btn-primary" id="btnJobPackaging" role="button">&lt;&lt; Previous</a>
</div>


<script>
 $('[data-toggle="popover"]').popover();

 function initTagDivs(filename) {
     var job = es.ActiveObject;
     for (var div of $(".panel-body.panel-collapse")) {
         var filename = $(div).data('file-name');
         if (job.bagItProfile.fileHasAllRequiredValues(filename)) {
             $(div).collapse('hide');
             var msgDiv = $(div).parent().children('.panel-heading').children('.file-complete');
             msgDiv.html("All required tags have been filled in.");
         }
     }
 }

 $("#btnJobPackaging").click(function() {
     var job = es.ActiveObject;
     job.setTagValuesFromForm();
     job.save();
     var data = {};
     data.form = job.toPackagingForm();
     data.domainName = es.AppSetting.findByName("Institution Domain").value;
     $("#container").html(templates.jobPackaging(data));
 });

 $("#btnJobStorage").click(function() {
     var isValid = true;
     for (var f of $(".form-control.required")) {
         var field = $(f);
         var parent = field.closest("div.form-group");
         if (field.val() == "") {
             isValid = false;
             parent.removeClass("has-success");
             parent.addClass("has-error");
         } else {
             parent.removeClass("has-error");
             parent.addClass("has-success");
         }
     }
     var job = es.ActiveObject;
     job.setTagValuesFromForm();
     job.save();
     if (isValid) {
         $("#jobTagsMissing").hide();
         goToJobStorage();
     } else {
         $("#jobTagsMissing").show();
         console.log("Form is not valid.");
     }
 });

 function goToJobStorage() {
     var job = es.ActiveObject;
     var data = {};
     data.bagOrFiles = "bag";
     if (job.bagItProfile == null) {
         data.bagOrFiles = "files";
     }
     data.form = job.toStorageServiceForm();
     $("#container").html(templates.jobStorage(data));
 }

 $("[data-btn-type=NewTagDefForJob]").click(function() {
     jobTagDefinitionShowForm(null, $(this).data('tag-file'));
 });

 $(document).on("click", "#btnTagDefinitionDeleteFromJob", jobTagDefinitionDelete);
 $(document).on("click", "#btnTagDefinitionSaveForJob", jobTagDefinitionSave);
 $(document).on("click", "#btnNewTagFileForJob", function() { jobNewTagFileShowForm(null); });
 $(document).on("click", "#btnNewTagFileCreateForJob", jobNewTagFileCreate);


 // Tag Definition functions
 function jobTagDefinitionShowForm(id, tagFile) {
     var job = es.ActiveObject;
     var tag = job.bagItProfile.findTagById(id);
     var showDeleteButton = (tag != null && !tag.isBuiltIn);
     if (tag == null) {
         tag = new es.TagDefinition(tagFile, 'New-Tag');
         showDeleteButton = false;
     }
     var data = {};
     data['form'] = tag.toForm();
     data['showDeleteButton'] = showDeleteButton;
     data['tagContext'] = "job";
     $('#modalTitle').text(tag.tagName);
     $("#modalContent").html(templates.tagDefinitionForm(data));
     $('#modal').modal();
 }

 function jobTagDefinitionSave() {
     var job = es.ActiveObject;
     var tagFromForm = es.TagDefinition.fromForm();
     var result = tagFromForm.validate();
     if (result.isValid()) {
         var existingTag = job.bagItProfile.findTagById(tagFromForm.id);
         if (existingTag == null) {
             // This is a new tag, so add it to the profile's
             // list of required tags.
             existingTag = new es.TagDefinition('', '');
             job.bagItProfile.requiredTags.push(existingTag);
         }
         Object.assign(existingTag, tagFromForm);
         job.save();
         $('#modal').modal('hide');
         showJobTagForm();
     } else {
         var form = tagFromForm.toForm();
         form.setErrors(result.errors);
         var data = {};
         data['form'] = form;
         data['tagContext'] = "job";
         $("#modalContent").html(templates.tagDefinitionForm(data));
     }
 }

 function jobTagDefinitionDelete() {
     if (!confirm("Delete this tag?")) {
         return;
     }
     var job = es.ActiveObject;
     var tagId = es.TagDefinition.fromForm().id;
     job.bagItProfile.requiredTags = es.ActiveObject.requiredTags.filter(item => item.id != tagId);
     job.save();
     $('#modal').modal('hide');
     showJobTagForm();
 }

 function showJobTagForm() {
     var job = es.ActiveObject;
     var data = {};
     var tags = job.bagItProfile.tagsGroupedByFile();
     data['tags'] = tags;
     data['tagContext'] = "job";
     $("#container").html(templates.jobTags(data));
 }

 function jobNewTagFileShowForm(err) {
     var job = es.ActiveObject;
     // Save now, even if some tags are missing or invalid,
     // because we'll need to properly restore the underlying
     // form when we close this modal.
     job.save();
     var form = new es.Form();
     form.fields['newTagFileName'] = new es.Field("newTagFileName", "newTagFileName", "New Tag File Name", "");
     if (err != null) {
         var errs = {};
         errs['newTagFileName'] = err;
         form.setErrors(errs);
     }
     var data = {};
     data['form'] = form;
     data['tagContext'] = "job";
     $('#modalTitle').text("New Tag File");
     $("#modalContent").html(templates.newTagFileForm(data));
     $('#modal').modal();
 }

 function jobNewTagFileCreate() {
     var tagFileName = $('#newTagFileName').val().trim();
     var re = /^[A-Za-z0-9_\-\.]+\.txt$/;
     if (!tagFileName.match(re)) {
         err = "Tag file name must contain at least one character and end with .txt";
         return jobNewTagFileShowForm(err);
     }
     jobTagDefinitionShowForm(null, tagFileName);
 }

 // This is called on load...
 initTagDivs();

</script>
