<div id="divJobPackaging">

  {{! jobTabs tabPackaging = true }}

  <h2>Packaging</h2>

  <form>

    {{> inputSelect field = form.fields.profile }}

    {{> inputText field = form.fields.baggingDirectory }}

    {{> inputText field = form.fields.bagName }}

    <div style="margin-bottom:12px;">
      <div id="nameHintAPTrust" style="display:none">
        <small class="form-text text-muted">
          APTrust bag names must begin with your domain name ({{ domainName }}), followed by a dot and a name.
          <a href="#" class="suggest-name">Suggest</a>
        </small>
      </div>
      <div id="nameHintDPN" style="display:none">
        <small class="form-text text-muted">
          DPN bag names must be version 4 UUIDs.
          <a href="#" class="suggest-name">Suggest</a>
        </small>
      </div>
      <div id="nameHintGeneric" style="display:none">
        <small class="form-text text-muted">
          Bag names cannot contain spaces or any of the following chacters: &lt;, &gt;, :, ", /, |, ?, *, \,
          space, tab or newline.
          <a href="#" class="suggest-name">Suggest</a>
        </small>
      </div>
    </div>

  </form>

</div>

<div class="pull-right" id="btnJobStorageDiv">
  <a class="btn btn-primary" id="btnJobTagsOrStorage" role="button">Next &gt;&gt;</a>
</div>

<div class="pull-left" id="btnJobFilesDiv">
  <a class="btn btn-primary" id="btnJobFiles" role="button">&lt;&lt; Previous</a>
</div>


<script>
 $('[data-toggle="popover"]').popover();

 $("select[name=profile]").change(function() {
     hideBagNameHint();
     var job = window.es.ActiveObject;
     var bagNameOnForm = $('#bagName').val();
     var id = $("select[name=profile]").val();
     if (id == "") {
         job.bagItProfile = null;
         $('#bagName').val("");
     } else {
         job.bagItProfile = window.es.BagItProfile.find(id);
         var name = $('#bagName').val() || job.bagItProfile.bagName;
         if (!job.bagItProfile.isValidBagName(name)) {
             job.bagName = job.bagItProfile.suggestBagName();
             $('#bagName').val(job.bagName);
         }
         showBagNameHint();
     }
 });

 $(".suggest-name").click(function () {
     var job = window.es.ActiveObject;
     if (job.bagItProfile != null) {
         bagName = job.bagItProfile.suggestBagName();
     } else {
         bagName = es.BagItProfile.suggestGenericBagName();
     }
     job.bagName = bagName;
     $('#bagName').val(bagName);
 });

 $("#btnJobFiles").click(function() {
     var job = es.ActiveObject;
     job.bagName = $('#bagName').val();
     job.baggingDirectory = $('#baggingDirectory').val();
     job.save();
     $("#container").html(templates.jobFiles());
     job.setFileListUI();
 });

 $("#btnJobTagsOrStorage").click(function() {
     var job = es.ActiveObject;
     job.bagName = $('#bagName').val();
     job.baggingDirectory = $('#baggingDirectory').val();
     if (job.bagItProfile != null && !validateBagName()) {
         return
     }
     if (job.bagItProfile != null && !validateBaggingDirectory()) {
         return
     }
     job.save();
     var data = {};
     if (job.bagItProfile == null) {
         // Show storage options
         goToJobStorage();
     } else {
         // Show tag editor
         // TODO: Refactor. This code also appears in job_storage.html.
         var tags = job.bagItProfile.tagsGroupedByFile();
         data['tags'] = tags;
         data['cssClassFor'] = {};
         data['messageFor'] = {};
         var fileStatus = job.bagItProfile.tagFileCompletionStatus();
         for (var filename in fileStatus) {
             var allRequiredTagsHaveValues = fileStatus[filename];
             if (allRequiredTagsHaveValues) {
                 // Collapsed
                 data['cssClassFor'][filename] = 'collapse';
                 data['messageFor'][filename] = 'All required tags for this file have been filled in.';
             } else {
                 // Visible
                 data['cssClassFor'][filename] = 'panel-collapse';
                 data['messageFor'][filename] = '';
             }
         }
         $("#container").html(templates.jobTags(data));
     }
 });

 function validateBagName() {
     var job = es.ActiveObject;
     var name = $('#bagName').val();
     var parent = $('#bagName').closest("div.form-group");
     if (job.bagItProfile != null) {
         if (job.bagItProfile.isValidBagName(name)) {
             parent.removeClass("has-error");
             parent.addClass("has-success");
             hideBagNameHint();
             job.bagName = name;
         } else {
             parent.removeClass("has-success");
             parent.addClass("has-error");
             showBagNameHint();
             return false;
         }
     } else if (!es.BagItProfile.nameLooksLegal(name)) {
         parent.removeClass("has-success");
         parent.addClass("has-error");
         showBagNameHint();
         return false;
     }
     return true;
 }

 function validateBaggingDirectory() {
     var job = es.ActiveObject;
     var isValid = true;
     var dir = $('#baggingDirectory').val();
     var parent = $('#baggingDirectory').closest("div.form-group");
     if (job.bagItProfile != null && !dir) {
         parent.removeClass("has-success");
         parent.addClass("has-error");
         isValid = false;
     } else {
         parent.removeClass("has-error");
         parent.addClass("has-success");
     }
     return isValid;
 }

 function showBagNameHint() {
     var job = es.ActiveObject;
     if (job.bagItProfile == null) {
         $('#nameHintGeneric').show();
     } else if (job.bagItProfile.hasRequiredTagFile("aptrust-info.txt")) {
         $('#nameHintAPTrust').show();
     } else if (job.bagItProfile.hasRequiredTagFile("dpn-tags/dpn-info.txt")) {
         $('#nameHintDPN').show();
     }
 }

 function hideBagNameHint() {
     $('#nameHintAPTrust').hide();
     $('#nameHintDPN').hide();
     $('#nameHintGeneric').hide();
 }

 function goToJobStorage() {
     var job = es.ActiveObject;
     var data = {};
     data.bagOrFiles = "bag";
     if (job.bagItProfile == null) {
         data.bagOrFiles = "files";
     }
     data.form = job.toStorageServiceForm();
     $("#container").html(templates.jobStorage(data));
 }

 showBagNameHint();

</script>
