<div id="div-files" class="jumbotron">
  <h2>Files</h2>
  <p>Drop files into this window.</p>

  <div class="panel panel-default" id="filesPanel">
	<div class="panel-body">
	  <table class="table table-hover" id="filesTable">
		<thead class="thead-inverse">
		  <tr>
			<th>File Path</th>
			<th>Directories</th>
			<th>Files</th>
			<th>Total Size</th>
			<th>Delete</th>
		  </tr>
		</thead>
		<tbody>
		  <tr id="fileTotals">
			<td>Totals</td>
			<td id="totalDirCount" data-total="0"></td>
			<td id="totalFileCount" data-total="0"></td>
			<td id="totalFileSize" data-total="0"></td>
			<td></td>
		  </tr>
		</tbody>
	  </table>
	</div>
  </div>
</div>
