{{#each tags }}
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><a href="#tags{{ @index }}" data-toggle="collapse">Tags in {{ @key }}</a></h3>
      </div>
      <div class="panel-body panel-collapse in" id="tags{{ @index }}">
        <table class="table table-hover">
          <thead class="thead-inverse tag-table">
            <tr>
              <th>Tag Name</th>
              <th>Default Value</th>
            </tr>
          </thead>
          <tbody>
            {{#each this as |tag| }}
            <tr class="clickable-row" data-object-id="{{ tag.id }}" data-object-type="TagDefinition">
              <td>{{ tag.tagName }}</td>
              <td>{{ tag.defaultValue }}</td>
            </tr>
            {{/each }}
            <tr>
              <td></td>
              <td><div class="pull-right">
                  <a class="btn btn-primary btn-xs" data-btn-type="NewTagDefForProfile" data-tag-file="{{ @key }}" role="button" data-toggle="popover" data-trigger="hover" title="New Tag" data-content="Add a new tag to this file." data-placement="left">+</a>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{{/each}}
