<h1>Setup</h1>

<div class="row">

    <div id="setupContent">

    </div>

    <div class="bottom-buttons">
        <div class="pull-left">
            <button type="button" id="btnPrevious" class="btn btn-previous" style="display:none">&lt;&lt; Previous</button>
        </div>
        <div class="pull-right">
            <button type="button" id="btnNext" class="btn btn-primary" style="display:none">Next &gt;&gt;</button>
        </div>
    </div>

</div>

<script>
  $('[data-toggle="popover"]').popover();
</script>
