{{#if success }}
<div class="alert alert-success" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{ success }}
</div>
{{/if }}

<h1>Storage Services</h1>
<div class="pull-right">
  <a class="btn btn-primary" id="btnNewStorageService" role="button">New</a>
</div>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Protocol</th>
      <th>Host</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    <tr class="clickable-row" data-object-id="{{ id }}" data-object-type="StorageService">
      <td>{{ name }}</td>
      <td>{{ description }}</td>
      <td>{{ protocol }}</td>
      <td>{{ host }}</td>
    </tr>
    {{/each }}
  </tbody>
</table>
