<form method="post" action="#" id="{{ id }}">

  {{> inputText field = fields.tagFile }}

  {{> inputText field = fields.tagName }}

  {{> inputSelect field = fields.required }}

  {{> inputSelect field = fields.emptyOk }}

  {{> inputTextArea field = fields.values }}

  {{> inputText field = fields.defaultValue }}

  {{> inputHidden field = fields.tagDefinitionId }}


  <div class="modal-buttons">
    <div class="pull-left">
      <button type="button" id="btnTagDefinitionDelete" class="btn btn-danger">Delete</button>
    </div>
    <div class="pull-right">
      <button type="button" id="btnTagDefinitionSave" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

<script>
  $('[data-toggle="popover"]').popover();
</script>
