<form method="post" action="#" id="{{ id }}">

  {{> inputText field = form.fields.newTagFileName }}

  <div class="bottom-buttons">
    <div class="pull-right">
      <button type="button" id="btnTagFileCreate" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>

<script>
 $('[data-toggle="popover"]').popover();
 $('#newTagFileName').keydown( function(event) {
     if (event.which === 13) {
         event.preventDefault();
         event.stopPropagation();
         var btn = $('#btnTagFileCreate');
         if (btn.length) {
             $(btn).click();
         }
     }
 });
</script>
