<div style="padding: 10px 30px 30px 30px;">
    <p>
        Bag <b>{{ bagName }}</b> was created <b>{{ timestamp }}</b> and is still in your bagging directory.
    </p>

    <p>
        Do you want to rebuild the bag from scratch or just upload the one from {{ timestamp }}?
    </p>

    <div style="margin-top: 20px; margin-bottom: 30px;">
        <div class="pull-left">
            <a class="btn btn-primary" id="btnRebuild" role="button">Rebuild and Upload</a>
        </div>

        <div class="pull-right">
            <a class="btn btn-primary" id="btnUpload" role="button">Upload Existing Bag</a>
        </div>
    </div>
</div>
