/* Any clickable element */
.clickable {
    cursor: pointer;
}
/* These elements have an attached event handler to display an editable form. */
.clickable-row {
    cursor: pointer;
}
.bottom-buttons {
    margin-top: 15px;
    min-height: 40px;
}
.ol-aligned {
   padding-left: 15px;
   margin-bottom: 0px;
}
.row-spaced {
   margin-bottom: 5px;
}
