<h2>File Upload</h2>

{{> bannerAlert message = alertMessage }}

<form method="post" action="#" id="{{ form.id }}">

  <div class="form-group" id="bagTypeContainer">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="bagType" id="bagTypeFile" value="file" checked>
        <label class="form-check-label" for="bagTypeFile">
            {{ translate 'Upload a file' }}
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="bagType" id="bagTypeDirectory" value="directory">
        <label class="form-check-label" for="bagTypeDirectory">
            {{ translate 'Upload a directory' }}
        </label>
    </div>
  </div>  

    {{> inputFile field = form.fields.pathToBag }}

    <h3 class="mt-4">Upload To</h3>
    
    {{> inputCheckboxGroup field = form.fields.uploadTargets }}

    {{> inputHidden field = form.fields.id }}

</form>

<div class="row" id="dartProcessContainer">

</div>

<div class="pull-right" id="divBtnUpload">
  <button type="button" class="btn btn-primary" id="btnUpload">Upload</button>
</div>
