<h2>Files</h2>

  <div id="dropZone" class="drop-zone">

      <div class="text-center upload-icon-div" id="uploadIcon">
          <p>Drag and drop the items you want package.</p>
          <img src="include/img/upload.png"/>
      </div>


      <div class="panel panel-default" id="filesPanel" style="display:none;background-color:inherit;">
          <div class="panel-body">
              <table class="table table-hover" id="filesTable">
                  <thead class="thead-inverse">
                      <tr>
                          <th>File Path</th>
                          <th>Directories</th>
                          <th>Files</th>
                          <th>Total Size</th>
                          <th>Delete</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr id="fileTotals">
                          <td>Totals</td>
                          <td id="totalDirCount" data-total="0"></td>
                          <td id="totalFileCount" data-total="0"></td>
                          <td id="totalByteCount" data-total="0"></td>
                          <td></td>
                      </tr>
                  </tbody>
              </table>

              <div class="alert alert-danger" role="alert" id="fileWarningContainer" style="display: none">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <div id="fileWarning"></div>
              </div>

          </div>
      </div>
  </div>
</div>

<div class="pull-right" style="display:none" id="btnJobPackagingDiv">
  <a class="btn btn-primary" href="#Job/packaging?id={{ job.id }}" role="button">Next &gt;&gt;</a>
</div>
