<h2>Job</h2>

{{> bannerAlert message = alertMessage }}

{{#if errors}}
<div class="alert alert-danger" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <p>{{ errMessage }}</p>
  <ul class='text-danger'>
    {{#each errors as |err| }}
    <li>{{ err }}</li>
    {{/each }}
  </ul>
</div>
{{/if}}

<form method="post" action="#" id="{{ id }}">

<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <a class="nav-item nav-link active" id="navFilesTab" data-toggle="tab" href="#jobFiles" role="tab" aria-controls="jobFiles" aria-selected="true">Files</a>
    <a class="nav-item nav-link" id="navPackagingTab" data-toggle="tab" href="#jobPackaging" role="tab" aria-controls="jobPackaging" aria-selected="false">Packaging</a>
    <a class="nav-item nav-link" id="navMetadataTab" data-toggle="tab" href="#jobMetadata" role="tab" aria-controls="jobMetadata" aria-selected="false">Metadata</a>
    <a class="nav-item nav-link" id="navUploadTab" data-toggle="tab" href="#jobUpload" role="tab" aria-controls="jobUpload" aria-selected="false">Upload</a>
    <a class="nav-item nav-link" id="navReviewTab" data-toggle="tab" href="#jobReview" role="tab" aria-controls="jobReview" aria-selected="false">Review</a>
  </div>
</nav>


<div class="tab-content mt-4" id="nav-tabContent">
  <div class="tab-pane fade show active" role="tabpanel" id="jobFiles" aria-labelledby="navFilesTab">
    Files
  </div>
  <div class="tab-pane fade" role="tabpanel" id="jobPackaging" aria-labelledby="navPackagingTab">
    Packaging
  </div>
  <div class="tab-pane fade" role="tabpanel" id="jobMetadata" aria-labelledby="navMetadataTab">
    Metadata
  </div>
  <div class="tab-pane fade" role="tabpanel" id="jobUpload" aria-labelledby="navUploadTab">
    Upload
  </div>
  <div class="tab-pane fade" role="tabpanel" id="jobReview" aria-labelledby="navReviewTab">
    Review
  </div>

</div>

{{> inputHidden field = form.fields.id }}
{{> inputHidden field = form.fields.userCanDelete }}

<div class="bottom-buttons">
  <div class="pull-right">
    <a class="btn btn-primary" href="#Job/update?id={{ form.fields.id.value }}" role="button">Save</a>
  </div>
  <div class="pull-right mr-5">
    <a class="btn btn-secondary" href="#Job/list" role="button">Cancel</a>
  </div>
</div>


</form>
