{{> bannerAlert message = alertMessage }}

<h2>Jobs</h2>
<div class="pull-right mt-1 mb-3">
  <a class="btn btn-primary" href="#Job/new" role="button">New</a>
</div>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Packaged</th>
      <th>Validated</th>
      <th>Uploaded</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    <tr class="clickable-row" data-url="#Job/edit?id={{ id }}">
      <td>{{ name }}</td>
      <td>{{ value }}</td>
    </tr>
    {{/each }}
  </tbody>
</table>

{{> tableBottomLinks }}
