{{> bannerAlert message = alertMessage }}

<h2>Jobs</h2>
<div class="pull-right mt-1 mb-3">
  <a class="btn btn-primary" href="#Job/new" role="button">New</a>
</div>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Created</th>
      <th>Packaged</th>
      <th>Validated</th>
      <th>Uploaded</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    <tr class="clickable-row" data-url="#JobFiles/show?id={{ id }}">
      <td>{{ title }}</td>
      <td>{{ createdAt }}</td>
      <td class="{{ pkgColor }}">{{ pkgDate }}</td>
      <td class="{{ valColor }}">{{ valDate }}</td>
      <td class="{{ uploadColor }}">{{ uploadDate }}</td>
      <td><a href="#Job/destroy?id={{ id }}" role="button">Delete</a></td>
    </tr>
    {{/each }}
  </tbody>
</table>

{{> tableBottomLinks }}
