<h2>Bag Metadata</h2>


<div style="height: 50px;">
  <div>
    <div class="pull-right p-r-3">
      <button type="button" class="btn btn-primary" id="btnToggleHidden" style="margin-left: 25px;">{{ translate 'Show All Tags' }}</button>
    </div>
    <div class="pull-right">
      <a role="button" class="btn btn-primary" href="#JobMetadata/newTag?id={{ job.id }}" id="btnAddNewTag">{{ translate 'Add New Tag' }}</a>
    </div>
  </div>
</div>


<div>
  <form>
    {{#each form.fields as |field| }}

      {{#if field.choices.length }}

        {{> inputSelect field = field }}

      {{else if field.looksLikeDescriptionTag }}

        {{> inputTextArea field = field }}

      {{else if field.wasAddedForJob }}

        <!-- Needs to be text with delete option. -->

        {{> inputText field = field }}

      {{else}}

        {{> inputText field = field }}

      {{/if}}

    {{/each}}
  </form>
</div>


<div>
  <div class="pull-left" id="btnBackDiv">
    <a class="btn btn-primary" href="#JobMetadata/back?id={{ job.id }}" role="button">&lt;&lt; Back</a>
  </div>
  <div class="pull-right" id="btnNextDiv">
    <a class="btn btn-primary" href="#JobMetadata/next?id={{ job.id }}" role="button">Next &gt;&gt;</a>
  </div>
</div>
