<h2>Packaging</h2>

{{#if workflowName }}
<p class="text-muted">{{ workflowName }}</p>
{{/if}}

{{> bannerAlert message = alertMessage }}

<form method="post" action="#" id="{{ form.id }}">

  <div style="display: {{#if job.workflowId}} none {{else}} block {{/if}};">
    {{> inputSelect field = form.fields.packageFormat }}

    <div id="jobProfileContainer" style="display: {{#if (eq form.fields.packageFormat.value 'BagIt')}} block {{else}} none {{/if}};">
      {{> inputSelect field = form.fields.bagItProfileId }}
      {{> inputSelect field = form.fields.bagItSerialization }}
    </div>
  </div>


  {{> inputText field = form.fields.packageName }}


  <div style="display: {{#if job.workflowId}} none {{else}} block {{/if}};">
    {{> inputText field = form.fields.outputPath }}
  </div>

  {{> inputHidden field = form.fields.pluginId }}
  {{> inputHidden field = form.fields.id }}

</form>

<div class="pull-left" id="btnBackDiv">
  <a class="btn btn-primary" href="#JobPackaging/back?id={{ job.id }}" role="button">&lt;&lt; Back</a>
</div>

<div class="pull-right" id="btnNextDiv">
  <a class="btn btn-primary" href="#JobPackaging/next?id={{ job.id }}" role="button">Next &gt;&gt;</a>
</div>
