<h2>Review and Run</h2>

{{#if job.packageOp }}
<div class="row">
  <div class="col text-right font-weight-bold">Package Name</div>
  <div class="col-10">{{ job.packageOp.packageName }}</div>
</div>

{{#if job.bagItProfile }}
<div class="row">
  <div class="col text-right font-weight-bold">BagIt Profile</div>
  <div class="col-10">
    {{ job.bagItProfile.name }} <br/>
    {{ job.bagItProfile.description }}
  </div>
</div>
{{/if }}

<div class="row">
  <div class="col text-right font-weight-bold">Payload Summary</div>
  <div class="col-10">
    {{ job.dirCount }} Directories <br/>
    {{ job.fileCount }} Files <br/>
    {{ toHumanSize job.byteCount }} <br/>
  </div>
</div>

<div class="row">
  <div class="col text-right font-weight-bold">Files to Package</div>
  <div class="col-10">
    {{#each job.packageOp.sourceFiles as |path| }}
      {{ path }} <br/>
    {{/each }}
  </div>
</div>

<div class="row">
  <div class="col text-right font-weight-bold">Output Path</div>
  <div class="col-10">{{ job.packageOp.outputPath }}</div>
</div>

{{/if}}

{{#if uploadTargets.length }}
<div class="row">
  <div class="col text-right font-weight-bold">Upload To</div>
  <div class="col-10">
    {{#each uploadTargets as |target| }}
      {{ target }} <br/>
    {{/each }}
  </div>
</div>
{{/if}}


<div class="row" id="dartProcessContainer">

</div>

<div class="mt-5">
  <div class="pull-left" id="btnBackDiv">
    <a class="btn btn-primary" href="#JobUpload/show?id={{ job.id }}" role="button">&lt;&lt; Back</a>
  </div>
  <div class="pull-right" id="btnNextDiv">
    {{!-- Though it acts like a link, this has to be a button so we can disable it after click. --}}
    <button id="btnRunJob" class="btn btn-success" onclick="location.hash='#JobRun/run?id={{ job.id }}'" role="button">Run Job</button>
  </div>
</div>
