<h2>Review and Run</h2>

{{#if job.packageOp }}
<div class="row">
  <div class="col text-right font-weight-bold">Package Name</div>
  <div class="col-10">{{ job.packageOp.packageName }}</div>
</div>

{{#if job.bagItProfile }}
<div class="row">
  <div class="col text-right font-weight-bold">BagIt Profile</div>
  <div class="col-10">
    {{ job.bagItProfile.name }} <br/>
    {{ job.bagItProfile.description }}
  </div>
</div>
{{/if }}

<div class="row">
  <div class="col text-right font-weight-bold">Payload Summary</div>
  <div class="col-10">
    {{ job.dirCount }} Directories <br/>
    {{ job.fileCount }} Files <br/>
    {{ toHumanSize job.byteCount }} <br/>
  </div>
</div>

<div class="row">
  <div class="col text-right font-weight-bold">Files to Package</div>
  <div class="col-10">
    {{#each job.packageOp.sourceFiles as |path| }}
      {{{ showPathWithTrim path ../trimPath }}} <br/>
    {{/each }}
  </div>
</div>

<div class="row">
  <div class="col text-right font-weight-bold">Output Path</div>
  <div class="col-10">
    <div id="output-path-link" data-url="{{ job.packageOp.outputPath }}">{{ job.packageOp.outputPath }}</div>
    <div id="bag-deleted-message" class="text-success" style="display:none">{{ translate 'Local copy of bag was deleted after upload' }}</div>
  </div>
</div>

{{/if}}

{{#if uploadTargets.length }}
<div class="row">
  <div class="col text-right font-weight-bold">Upload To</div>
  <div class="col-10">
    {{#each uploadTargets as |target| }}
      {{ target }} <br/>
    {{/each }}
  </div>
</div>
{{/if}}


<div class="row" id="dartProcessContainer">

</div>

<div class="mt-5">
  <div class="pull-left" id="btnBackDiv">
    <a class="btn btn-primary" href="#JobRun/back?id={{ job.id }}" role="button">&lt;&lt; Back</a>
  </div>



  <div class="pull-right" id="btnNextDiv">
    {{#unless job.workflowId}}
    <a class="btn btn-info mr-5" href="#Workflow/newFromJob?jobId={{ job.id }}" role="button">Create Workflow</a>
    {{/unless}}

    {{!-- Though it acts like a link, this has to be a button so we can disable it after click. --}}
    <button id="btnRunJob" class="btn btn-success ml-5" onclick="location.hash='#JobRun/run?id={{ job.id }}'" role="button">Run Job</button>
  </div>
</div>
