{{> bannerAlert message = alertMessage }}

<h2>{{ translate 'Export Settings' }}</h2>

<form>
  <h3>{{ translate "App Settings" }}</h3>
  {{> inputCheckboxGroup field = form.fields.appSettings }}

  <h3>{{ translate "BagIt Profiles" }}</h3>
  {{> inputCheckboxGroup field = form.fields.bagItProfiles }}

  <h3>{{ translate "Remote Repositories" }}</h3>
  {{> inputCheckboxGroup field = form.fields.remoteRepositories }}

  <h3>{{ translate "Storage Services" }}</h3>
  {{> inputCheckboxGroup field = form.fields.storageServices }}

</form>
