{{> bannerAlert message = alertMessage }}

<h2>{{ translate 'Import Settings' }}</h2>

<div class="form-group" id="importSourceContainer">
    <div class="form-check">
        <input class="form-check-input" type="radio" name="importSource" id="importSourceUrl" value="URL">
        <label class="form-check-label" for="importSourceUrl">
            {{ translate 'Import from URL' }}
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" name="importSource" id="importSourceTextArea" value="TextArea">
        <label class="form-check-label" for="importSourceTextArea">
            {{ translate 'Import from JSON (Cut and Paste)' }}
        </label>
    </div>
</div>

<div class="form-group" id="txtUrlContainer" style="display:none;">
    <label class="control-label" for="txtUrl">{{ translate 'Import Settings from Url' }}</label>
  <input type="text" id="txtUrl" name="txtUrl" class="form-control" placeholder="{{ translate 'Settings Url' }}" />
</div>

<div class="form-group" id="txtJsonContainer" style="display:none;">
    <label class="control-label" for="txtJson">{{ translate 'Settings JSON' }}</label>
    <textarea id="txtJson" name="txtJson" class="form-control" rows="16"></textarea>
</div>

<div class="mt-1 mb-1">
  <div id="result" style="display:none">

  </div>
</div>

<div class="mt-1 mb-1">
  <div id="questions" style="display:none">

  </div>
</div>


<div class="bottom-buttons">
  <div class="pull-right">
    <button class="btn btn-primary" type="button" id="btnImport">Import</button>
  </div>
  <div class="pull-right mr-3">
    <a role="button" class="btn btn-secondary" href="#Dashboard/show">Cancel</a>
  </div>
</div>
