<h2>Setup Questions</h2>

<div class="card mb-3">
    <div class="card-header">Instructions</div>
    <div class="card-body">
        <p>In this section, you can define a list of questions for users who will be importing your settings. During the import process, DART will copy the user's answers to the fields you specify.</p>
        <p>For example, DART does not export login names and passwords. If you export a Storage Service record for others to import, you can add questions here asking the user for their credentials to access that Storage Service.</p>
        <p>You may ask "What is your password for the sftp server?", and tell DART to copy the user's response into the password field of the Storage Service called "SFTP demo server".</p>
    </div>
</div>


<form id="settingsQuestionsForm">

  {{> settingsQuestion }}

</form>


<div class="bottom-buttons">
  <div class="pull-right">
    <a role="button" class="btn btn-primary" id="btnNext" href="#Settings/showExportJson">{{ translate "Export" }}</a>
  </div>
  <div class="pull-right mr-3">
      <button type="button" class="btn btn-primary" id="btnAdd">{{ translate "Add Question" }}</button>
  </div>
  <div class="pull-right mr-3">
    <a role="button" class="btn btn-secondary" href="#Settings/export">{{ translate "Cancel" }}</a>
  </div>
</div>
