  <div class="card mb-3" data-question-number="{{ questionNumber }}">
      <div class="card-header">Question {{ questionNumber }}</div>
      <div class="card-body">
        {{> inputTextArea field = question.prompt }}
        <p>{{ translate "Copy the user's answer to this question to:" }}</p>

        <div class="row">
            <div class="col">
                {{> inputSelect field = question.objType }}
            </div>
            <div class="col">
                {{> inputSelect field = question.objName }}
            </div>
            <div class="col">
                {{> inputSelect field = question.field }}
            </div>
        </div>
      </div>
      <div class="card-footer">
          <button type="button" class="btn btn-danger">{{ translate "Delete" }}</button>
      </div>
  </div>
