{{#if success }}
<div class="alert alert-success" role="alert">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  {{ success }}
</div>
{{/if }}

<h2>Application Settings</h2>
<div class="pull-right mt-1 mb-3">
  <a class="btn btn-primary" href="#AppSetting/create" role="button">New</a>
</div>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    <tr class="clickable-row" data-url="#AppSetting/edit?id={{ id }}">
      <td>{{ name }}</td>
      <td>{{ value }}</td>
    </tr>
    {{/each }}
  </tbody>
</table>

{{> tableBottomLinks }}
