<form method="post" action="#" id="{{ id }}">

  {{> inputText field = form.fields.tagFile }}

  {{> inputText field = form.fields.tagName }}

  {{> inputSelect field = form.fields.required }}

  {{> inputSelect field = form.fields.emptyOk }}

  {{> inputTextArea field = form.fields.values }}

  {{#if form.fields.defaultValue.choices }}
    {{> inputSelect field = form.fields.defaultValue }}
  {{else}}
    {{> inputText field = form.fields.defaultValue }}
  {{/if}}

  {{> inputText field = form.fields.help }}

  {{> inputHidden field = form.fields.isBuiltIn }}
  {{> inputHidden field = form.fields.isUserAddedFile }}
  {{> inputHidden field = form.fields.isUserAddedTag }}
  {{> inputHidden field = form.fields.userValue }}
  {{> inputHidden field = form.fields.id }}

  <div class="bottom-buttons">
    {{#if showDeleteButton}}
    <div class="pull-left">
      <a class="btn btn-danger" href="#TagDefinition/destroy?id={{ form.fields.id.value }}&bagItProfileId={{ bagItProfileId }}" role="button">Delete</a>
    </div>
    {{/if}}
    <div class="pull-right">
    <a class="btn btn-primary" href="#TagDefinition/update?id={{ form.fields.id.value }}&bagItProfileId={{ bagItProfileId }}" role="button">Save</a>
    </div>
  </div>
</form>
