{{> bannerAlert message = alertMessage }}

<h1>Upload Targets</h1>
<div class="pull-right mt-1 mb-3">
  <a class="btn btn-primary" href="#UploadTarget/new" role="button">New</a>
</div>
<table class="table table-hover">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Protocol</th>
      <th>Host</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
    <tr class="clickable-row" data-url="#UploadTarget/edit?id={{ id }}">
      <td>{{ name }}</td>
      <td>{{ description }}</td>
      <td>{{ protocol }}</td>
      <td>{{ host }}</td>
    </tr>
    {{/each }}
  </tbody>
</table>

{{> tableBottomLinks }}
