{{ define "job/artifact_saved_modal.html" }}

<!--
  Display the result of saving an artifact in a modal dialog,
  where we don't want to include the page header,
  footer and nav.
-->

<h2>Saved</h2>

<p>{{ .artifact.FileName }} was saved to {{ .outputFile }}.</p>

<div class="float-right">
  <button class="btn btn-primary" onclick="openExternalUrl('{{ .outputFile }}')">View File</button>
  <button class="btn btn-primary" onclick="openExternalUrl('{{ .outputDir }}')">Open Folder</button>
  <button class="btn btn-primary ml-3" data-dismiss="modal">Close</button>
</div>


{{ end }}