{{ define "job/uploads.html" }}

{{ template "partials/page_header.html" .}}

<h2>Upload Targets</h2>

{{ if .workflow }}
    <div class="mb-3">Workflow: <strong>{{ .workflow.Name }}</strong></div>
{{ end }}

<form method="post" action="/jobs/upload/{{ .job.ID }}" id="{{ .job.ID }}">

    {{ template "partials/input_checkbox_group.html" dict "field" .form.Fields.UploadTargets }}


  <input type="hidden" name="direction" value="next"/>


  <div class="float-left mt-5 mb-5" id="btnBackDiv">
    <button type="submit" onclick="document.forms['{{ .job.ID }}'].direction.value='previous'" class="btn btn-primary" role="button">&lt;&lt; Back</button>
  </div>

  <div class="float-right mt-5 mb-5" id="btnNextDiv">
    <button type="submit" onclick="document.forms['{{ .job.ID }}'].direction.value='next'" class="btn btn-primary" role="button">Next &gt;&gt;</button>
  </div>

</form>

{{ template "partials/page_footer.html" .}}


{{ end }}
